<!DOCTYPE html>
<html class="login-bg">
<head>
    <title>CTB-Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/systemset.css"/>
    <script src="__PUBLIC__/js/testtitle.js"></script>
    <script src="__PUBLIC__/js/sys_public.js"></script>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body >
<div class="contain" style="width: 100%">
    <div class="row" style="height: 45px;"></div>
    <div class="row">
        <div class="col-xs-4" style="padding-left:45px;">
            <b> <span id="bigtitle" style="font-size: 18px;">系统设置</span></b>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="admin_bt_div">
                <table>
                    <tr>
                        <td>
                            <div  class="admin_div_unchicked">
                                <a href="{:U('systemset_01')}">人员设定</a>
                            </div>
                        </td>
                        <td>
                            <div style="color: #c0b9c8"  class="admin_div_unchicked">
                                学校设定
                            </div>
                        </td>
                        <td>
                            <div class="admin_div_unchicked">
                                <a href="{:U('systemset_03')}">学科设定</a>
                            </div>
                        </td>
                        <td>
                            <div class="admin_div_unchicked">
                                <a >其他设定</a>
                            </div>
                        </td>
                        <td>
                            <div class="admin_div_unchicked admin_list">
                                <a href="{:U('adminindex/index')}">返回</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="row" style="height: 43px;"></div>
    <div class="row framelist" style="min-height: 26px;border: 1px solid #eaf0f2;text-align: right;font-size: 12px;padding-top: 4px;padding-bottom: 4px;padding-right: 28px;">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span><u><a  href="javascript:void(0)">返回</a></u></span>
    </div>
    <div class="row" style="height: 15px;"></div>
    <div class="row">
        <div class="col-xs-6" style="height: 330px;border-right:1px solid #C3C3C3;">
            <div class="row sysset_blue" style="clear: left;"><span style="font-size: 16px;margin-left: 8%;"><b>1.学校统计</b></span><span style="margin-left: 62%"></span><a id="school_ok" onclick="newschooldata('school')" style="display: none" href="javascript:void(0)">Add</a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a id="school_a" onclick="div_list_sub('school')" href="javascript:void(0)">New</a></div>
            <hr style="margin-left: 6%;">
            <div class="row" style="height: 250px; overflow-y: auto;padding-left: 8%;padding-right: 2%">

                <table id="table_school" class="sysset_msgtable" style="width: 100%;">
                </table>
                <input id="school_begin" type="hidden" value="1">
                <div id="school_page_a" class="row" style="display: block;"><div class="result page" style="margin-left: 20px;margin-top: 0px;"><a onclick="pre_sub('school')" href="javascript:void(0)">上一页</a><a style="margin-left: 4px;"><span id="school_begin_page">1</span>/<span id="school_page_sum">4</span></a><a style="margin-left: 4px;" onclick="next_sub('school')" href="javascript:void(0)">下一页</a></div></div>



                <div class="sysset_msgli" id="school_msgli"  style="display: none;">
                    <ol>
                        <li >
                           <span >学校名称：</span> <input id="schoolname"   type="text">
                        </li>
                        <li >
                            <span class="sysset_marginleft28">类型：</span>
                            <select id="levelmsg">
                                <option value ="1000">未选择</option>
                                <option value ="1">小学</option>
                                <option value ="2">初中</option>
                                <option value="3">高中</option>
                            </select>
                        </li>
                        <li>
                             <span class="sysset_marginleft14" >联系人：</span>   <input id="linkman"  required="required"  type="text">
                        </li>
                        <li>
                            <span  class="sysset_marginleft28" >电话：</span>  <input id="phone"   required="required"   type="text" value="">
                        </li>
                        <li>
                            <span >开始时间：</span>  <input id="starttime"  type="text"  placeholder="2018-02-12">
                        </li>
                        <li>
                            <span >结束时间：</span>  <input id="endtime"  type="text" placeholder="2018-02-12">
                        </li>
                        <li >

                            <span >年级数量：</span>
                            <select id="gradecount">
                            <option value ="1000">未选择</option>
                            <option value ="3">3</option>
                            <option value ="4">4</option>
                            <option value="5">6</option>
                           </select>
                        </li>
                        <li >
                            <span >班级数量/年级：</span> <input id="classcount"  required="required"  type="text" value="">
                        </li>
                    </ol>
                </div>
            </div>

        </div>

        <div class="col-xs-6" style="height: 330px;">


            <hr style="margin-left: 6%;">

        </div>
    </div>
    <div class="row"style="border-top:1px solid #C3C3C3;padding-top: 15px;">
        <div class="col-xs-6" style="height: 340px;border-right:1px solid #C3C3C3;">

            <hr style="margin-left: 6%;">


        </div>
        <div class="col-xs-6" style="height: 340px;">

            <hr style="margin-left: 6%;">


        </div>
    </div>

</div>



</body>
<script type="text/javascript">

    var beginhtml='<tr><th style="text-align: center;"  >序号</th><th>学校名称</th><th>类型</th><th>班级数量</th><th>电话</th><th>到期时间</th><th>操作</th></tr>';

    $(function(){


        school_sql("school",beginhtml);
//        person_sql("tec",beginhtml);
//        person_sql("stu",beginhtml);
//        person_sql("pare",beginhtml);

    })


    function school_sql(kind,beginhtml)
    {
        var length=6;
        var begin;
        var htmlmsg;
        var contentmsg;

//        alert(123);

         if(kind=='school')
         {
             begin=$('#school_begin').val();
         }

        $.ajax({
                    url: "{:U('php_school_sql')}",
                    type: 'POST',
                    data: {kind:kind,begin:begin,length:length},
                    dataType: 'json',
                    success: function (re) {

                        var begin_page='#'+kind+'_begin_page';
                        var page_sum='#'+kind+'_page_sum';
                        $(begin_page).text(re['school_begin_page']);
                        $(page_sum).text(re['school_page_sum']);

                        length=re['school_count'];

                        for(var i=0;i<length;i++)
                        {
                            contentmsg=contentmsg+'<tr"><td style="text-align: center;" class="sysset_per5">'+re[i]['school_id']+'</td><td class="sysset_per15">'+re[i]['schoolname']+'</td><td class="sysset_per5">'+re[i]['levelmsg']+'</td><td  class="sysset_per10">'+re[i]['classcount']+'</td><td class="sysset_per15">'+re[i]['phone']+'</td><td  class="sysset_per15">'+re[i]['endtime']+'</td><td class="sysset_per15"><a id="'+re[i]['id']+'" name="'+kind+'" href="javascript:void(0);" onclick="detailsub(this.id)">编辑</a></td></tr>';
                        }

                        var tablemsg='#table_'+kind;
                        $(tablemsg).html(beginhtml+contentmsg);
                    }
                }
        )
    }

    function div_list_sub(kind)
    {

//        alert(kind);
//        return;
        if( $('#school_a').html()=='New')
        {
            $('#table_school').css('display','none');
            $('#school_page_a').css('display','none');
            $('#school_a').html('List');
            $('#school_ok').css('display','');
            $('#school_msgli').css('display','');


            var myDate = new Date();
            var mytime=myDate.toLocaleString( );

            $('#school_regtime').val(mytime);

        }
        else
        {
            $('#table_school').css('display','');
            $('#school_page_a').css('display','');
            $('#school_a').html('New');
            $('#school_ok').css('display','none');
            $('#school_msgli').css('display','none');
        }

    }

    function pre_sub(kind)
    {
        var beginele='#'+kind+'_begin';
        var nowpage=$(beginele).val();

        if(nowpage==1)
        {
            return;
        }
        else
        {
            $(beginele).val(parseInt(nowpage)-1);
            school_sql(kind,beginhtml);
        }
    }

    function next_sub(kind)
    {
        var beginele='#'+kind+'_begin';
        var nowpage=$(beginele).val();
        var sumele='#'+kind+'_page_sum';

        if(nowpage==$(sumele).text())
        {

            return;
        }
        else
        {
            $(beginele).val(parseInt(nowpage)+1);
           school_sql(kind,beginhtml);
        }

    }

    function newschooldata(kind)
    {
        var schoolname=$('#schoolname').val();
        var levelnum=$('#levelmsg').val();
        var linkman=$('#linkman').val();
        var phone=$('#phone').val();
        var starttime=$('#starttime').val();
        var endtime=$('#endtime').val();
        var gradecount=$('#gradecount').val();
        var classcount=$('#classcount').val();


        if(schoolname=='')
        {
            alert('学校名称不能为空！！');
            return;
        }
        if(levelnum==1000)
        {
            alert('请选择类型！！');
            return;
        }
        if(linkman=='')
        {
            alert('填写联系人！！');
            return;
        }
        if(phone=='')
        {
            alert('请填写联系电话！！');
            return;
        }

        if(starttime=='')
        {
            alert('请填写开始时间！！');
            return;
        }
        else
        {
           var val=checkDate(starttime);

            if(val==0)
            {
                alert("请填写正确的开始时间！！");
                return;
            }
        }

        if(endtime=='')
        {
            alert('请填写结束时间！！');
            return;
        }
        else
        {
            var val=checkDate(endtime);

            if(val==0)
            {
                alert("请填写正确的结束时间！！");
                return;
            }
        }
        if(gradecount==1000)
        {
            alert('请选择年级数量！！');
            return;
        }
        if(classcount=='')
        {
            alert('请填写班级数量！！');
            return;
        }



        $.ajax({
            url: "{:U('php_newschool_data_sql')}",
            type: 'POST',
            data: {schoolname:schoolname,linkman: linkman, phone: phone, starttime: starttime,endtime:endtime,areaid:0,levelnum:levelnum,gradecount:gradecount,classcount:classcount},
            dataType: 'text',
            success: function (re) {

                school_sql('school',beginhtml);
                $('#schoolname').val('');
                $('#levelmsg').val(1000);
                $('#linkman').val('');
                $('#phone').val('');
                $('#starttime').val('');
                $('#endtime').val('');
                $('#gradecount').val(1000);
                $('#classcount').val('');
            }
        })

    }

    function levelmsgsub()
    {
      //  alert(123);
    }
    function detailsub(id,kind)
    {
       // alert(id);
//        var myname=$('#'+id).attr('name');
//        alert(myname);
    }
</script>
</html>