<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>任务列表</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../css/main.css"/>
	<script src="__PUBLIC__/jquery/jquery.min.js"></script>
	<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>

<script language="javascript">  
    function work1(target) {  
        //e.preventDefault();  
		$("#dropdownMenu1").text($(target).text());
    }   
	
	 function work2(target) {  
        //e.preventDefault();  
		$("#dropdownMenu2").text($(target).text());
    }  
	
		 function work3(target) {  
        //e.preventDefault();  
		$("#dropdownMenu3").text($(target).text());
    }  
</script> 

</head>
<body class="background_color">
	<div class="container">
	
	
		<div class="row title_class">
			<div class="col-xs-2"><a href="home.html"><img src="../img/reg_back.png" class="title_left_img"></a></div>
			<div class="col-xs-8  title_font_middle " >错题作业录入</div>
			<div class="col-xs-2"></div>		
		</div>
		<div class="row parent_nav">
		<div class="col-xs-4" >
			<div class="dropdown">
	<button type="button" class="btn dropdown-toggle parent_button" id="dropdownMenu1" 
			data-toggle="dropdown">
科目		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation" >
			<a  href="javascript:void(0)" onclick="work1(this)" role="menuitem" tabindex="-1" href="#">英语</a>
		</li>
		<li role="presentation">
			<a  href="javascript:void(0)" onclick="work1(this)" role="menuitem" tabindex="-1" href="#">语文</a>
		</li>
		<li role="presentation">
			<a  href="javascript:void(0)" onclick="work1(this)" role="menuitem" tabindex="-1" href="#">数学</a>
		</li>
		<li role="presentation" class="divider"></li>
		<li role="presentation">
			<a  href="javascript:void(0)" onclick="work1(this)" role="menuitem" tabindex="-1" href="#">全部</a>
		</li>
	</ul>
</div>

			
			
		</div>
		<div class="col-xs-4">
			
			
				<div class="dropdown">
	<button type="button" class="btn dropdown-toggle parent_button"  id="dropdownMenu2" 
			data-toggle="dropdown">
未处理(10)	<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
		<li role="presentation" >
			<a  href="javascript:void(0)" onclick="work2(this)" role="menuitem" tabindex="-1" href="#">未处理(10)</a>
		</li>
		<li role="presentation">
			<a  href="javascript:void(0)" onclick="work2(this)" role="menuitem" tabindex="-1" href="#">已完成(20)</a>
		</li>
		<li role="presentation" class="divider"></li>
		<li role="presentation">
			<a  href="javascript:void(0)" onclick="work2(this)" role="menuitem" tabindex="-1" href="#">全部(10)</a>
		</li>
	</ul>
</div>
			
			
			
		</div>
		<div class="col-xs-4">
			
				<div class="dropdown">
	<button type="button" class="btn dropdown-toggle parent_button"  id="dropdownMenu3" 
			data-toggle="dropdown">
顺序		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
	<li role="presentation" >
			<a  href="javascript:void(0)" onclick="work3(this)" role="menuitem" tabindex="-1" href="#">顺序</a>
		</li>
		<li role="presentation" >
			<a  href="javascript:void(0)" onclick="work3(this)" role="menuitem" tabindex="-1" href="#">倒序</a>
		</li>
		<li role="presentation">
			<a  href="javascript:void(0)" onclick="work3(this)" role="menuitem" tabindex="-1" href="#">最近一周</a>
		</li>
		<li role="presentation" class="divider"></li>
		<li role="presentation">
			<a  href="javascript:void(0)" onclick="work3(this)" role="menuitem" tabindex="-1" href="#">最近一个月</a>
		</li>
	</ul>
</div>
		</div>	
		</div>
		<div class="row">
			<ol id="list1" style="padding-right: 6%;">
				<li>
					<a href="testchecked0102.html">
						<p class="h5">初中物理第二册</p>
						<p  class="h6" >科目：物理； 试卷难度：A；试题数：28题；考试时间：2018-2-1；发布时间：2018-2-23. 状态：未完成。 </p>
					</a>
				<hr>
				</li>
				<li>
					<a href="testchecked0102.html">
						<p class="h5">初中物理第二册</p>
						<p  class="h6">科目：物理； 试卷难度：A；试题数：28题；考试时间：2018-2-1；发布时间：2018-2-23； 状态：未完成。 </p>
					</a>
					<hr>
				</li>
				<li>
					<a href="testchecked0102.html">
						<p class="h5">初中物理第二册</p>
						<p  class="h6">科目：物理； 试卷难度：A；试题数：28题；考试时间：2018-2-1；发布时间：2018-2-23；状态：未完成。 </p>
					</a>
						<hr>
				</li>
					</ol>
			
			
		</div>
	</div>


</body>
</html>
