<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>错题录入</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="http://cdn.gbtags.com/twitter-bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/main.css"/>
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
	input[type=checkbox]+span {
    /* your style goes here */
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 4px;
	background-image: url(../img/unchecked.png);
	background-size: 100% 100%;
		margin-left: 2px;
		margin-top: 4px;
        }
	
	/* active style goes here */
	input[type=checkbox]:checked+span {
   	background-image: url(../img/checked.png);
}
	
	
	
	.needitem input[type=checkbox]{
　　display: inline-block;
　　vertical-align: middle;

}
</style>
</head>
<body class="background_color_checked">
	<div class="container">
	
	
		<div class="row title_class_transparent">
			<div class="col-xs-2"><a href="task0101.html"><img src="../img/reg_back.png" class="title_left_img"></a></div>
			<div class="col-xs-8  title_font_middle " >错题作业录入</div>
			<div class="col-xs-2"></div>		
		</div>
		
		<div class="row h6 parent_msg_panel">
			<p>初中物理考试试卷</p>
			<p>试题难度：A级别  考试时间：2017-4-12</p>
			<p>原始试卷查看</p>		
		</div>
		<div class="row  parent_checked_panel">
			<ul class="parent_p_color" style="padding-right: 6%;">
				<li >
						<p >第一卷-第一章-第三节-一&nbsp;&nbsp;10题（成组）</p>
						<p class="needitem" ><label>
    						1.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label  >
    						2.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label  >
    						3.<input  type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label >
    						4.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
						 </p>
				<hr>
				</li>
					<li>
						<p >第一卷-第一章-第三节-二</p>
						<p >
							<label>
    						1.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label>
    						2.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label>
    						3.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label >
    						4.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label>
    						5.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
						</p>
					<hr>
				</li>
				<li>
						<p>第一卷-第一章-第三节-三</p>
						<p><label>
    						1.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label>
    						2.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label>
    						3.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label >
    						4.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label>
    						5.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label> </p>
						<hr>
				</li>
				<li>
						<p >第一卷-第一章-第三节-四</p>
						<p ><label>
    						1.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label>
    						2.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label>
    						3.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label >
    						4.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label>
    						5.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label>
							6.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>
							<label>
    						7.<input type="checkbox" class="hidden-input" />
    						<span></span>
							</label>			    
							</p>
						<hr>
				</li>
					</ul>
		</div>
		<div class="row parent_bottom_div">
		<div class="col-xs-6 parent_bottom_div_div" style="background-color: #48a0dc;"><a href="home.html"><img style="width: 20px;" class="img-responsive center-block" src="../img/close.png"></a></div>
		<div class="col-xs-6 parent_bottom_div_div" style="background-color: #87c15e;"><a href="task0101.html"><img style="width:21px;"class="img-responsive center-block" src="../img/ok.png"></a></div>
			
		</div>
		
	</div>


</body>
</html>
