<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>我的主页</title>


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="http://cdn.gbtags.com/twitter-bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/main.css"/>
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <style type="text/css">
	input[type="checkbox"]:checked+label {color: #345ee5;}
	input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
	input[type="checkbox"]+label{margin-left: 35px;color:#7b7a7a;font-family:Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";font-weight:lighter;}
	
	</style>
</head>
<body>
	<div class="container">
		<div class="row title_class">
			<div class="col-xs-2"><a href="publishpaper0201.html"><img src="../img/reg_back.png"  class="title_left_img"></a></div>
			<div class="col-xs-8  title_font_middle " >班主任张老师</div>
			<div class="col-xs-2 " ><div class="a_white"><a href="javascript:void(0)" onclick="location.reload()">重置</a></div></div>		
		</div>	
		<div class="row teacher_puclicpaper_class">
		<div class="col-xs-1"></div>
		<div class="col-xs-10 teacher_class_msg">
		<div class="row">
		<img class="img-responsive center-block teacher_publicpaper_img_icon" src="image/paper_icon_img.png" >
		</div>
		<div class="row h4" style="text-align: center;">
			<span>初中物理考试卷</span>
			<hr style="width: 80%;">
			<p class="h5">
			 <label >班级</label>
			<input type="checkbox" name="options" id="option2"><label for="option2"> 1701
			</label>
			<input type="checkbox" name="options" id="option3"> <label for="option3">1702
			</label>
			<input type="checkbox" name="options" id="option4"><label for="option4">1703</label>
			<hr style="width: 80%;">
			</p>
			
			
			<p class="h5">
			<label >群组</label>
			<input type="checkbox" name="group" id="group1"><label for="group1">G1</label>
			<input type="checkbox" name="group" id="group2"><label for="group2">G2</label>
			<input type="checkbox" name="group" id="group3"><label for="group3">G3</label>
			<input type="checkbox" name="group" id="group4"><label for="group4">G4</label>
			<hr style="width: 80%;">
			</p>
			
			
			<p class="h5">
			<label >试题难度</label>
			<input type="checkbox" name="level" id="level1"><label for="level1">A</label>
			<input type="checkbox" name="level" id="level2"><label for="level2">B</label>
			<input type="checkbox" name="level" id="level3"><label for="level3">C</label>
			<hr style="width: 80%;">
			</p>
			
			<p class="h5">
			<label >发布对象</label>
			<input type="checkbox" name="object" id="object1"><label for="object1">学生</label>
			<input type="checkbox" name="object" id="object2"><label for="object2">家长</label>
			<hr style="width: 80%;">
			</p>
			

		</div>
		<div class="row">
			<div class="col-xs-6">
				<div  class="teacher_public_bottom_button" style="background-color:#48a0dc;margin-left: 27%;"><a href="publishpaper0201.html">确认发布</a></div>
			</div>
			<div class="col-xs-6">
				<div  class="teacher_public_bottom_button" style="background-color:#ed7161;margin-left:3%;"><a href="home.html">取消发布</a></div>
			</div>
		</div>
			
		</div>
		<div class="col-xs-1"></div>
		</div>		
		
	</div>
</body>
</html>
