<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="images/blue/css.css" rel="stylesheet" type="text/css" id="showdialogcss" />
<script src="js/jquery.js"></script>
<script src="../jquery/jquery-1.8.3.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="js/dialog.js"></script>

<link rel="stylesheet" type="text/css" href="http://cdn.gbtags.com/twitter-bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>模式对话框</title>
<!--<style type="text/css">
	.imgcc{
		
	}
	
	</style>-->
<script type="text/javascript">
	
$(document).ready(function(){
 $("img").click(function(){
  $(this).attr("alt");// 获得图片中alt的值，后期绑定图片id，alert( $(this).attr("alt"));
	 $('#myModal01').modal(); 
 });
});
</script>

</head>
<body>
  <div>
  	
  	<input type="text" value="你好" style="width: 100px;">
  </div>
   
</body>
</html>