<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>知识点辅导</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/stu.css"/>
	<script src="__PUBLIC__/jquery/jquery.min.js"></script>
	<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/public.js"></script>

	<script language="javascript">
		function work1(target) {
			//e.preventDefault();
			$("#dropdownMenu1").text($(target).text());
		}

		function work2(target) {
			//e.preventDefault();
			$("#dropdownMenu2").text($(target).text());
		}

		function work3(target) {
			//e.preventDefault();
			$("#dropdownMenu3").text($(target).text());
		}
	</script>
</head>
<body class="background_color">
<form method="get" action="{:U('keystatistic',array('keynotemsg'=>$keynotemsg,'keynote_id'=>$keynote_id,'userid'=>$userid,'username'=>$username,'realname'=>$realname,'stu_id'=>$stu_id,'stu_name'=>$stu_name,'subject_id'=>$subject_id))}">
	<div class="container" style="height: 100%;">
		<div class="row title_class">
			<div class="col-xs-2"><a href="{:U('managestu_keylist0405',array('userid'=>$userid,'username'=>$username,'realname'=>$realname,'keynote_id'=>$keynote_id,'stu_id'=>$stu_id,'stu_name'=>$stu_name,'subject_id'=>$subject_id))}"><img src="__PUBLIC__/img/reg_back.png" class="title_left_img"></a></div>
			<div class="col-xs-8  title_font_middle " >{$keynotemsg}({$countTotal}次)</div>
			<div class="col-xs-2"><a href="{:U('managestu_keylist0405',array('userid'=>$userid,'username'=>$username,'realname'=>$realname,'stu_id'=>$stu_id,'stu_name'=>$stu_name,'subject_id'=>$subject_id))}" style="color: white;font-size: 15px;display: block;margin-top: 1px;">Key</a></div>
		</div>
		<div class="row parent_nav">
		<div class="col-xs-4" >
			<select id="year" name="year" class="blackselect" style="padding-left: -10px;">
			<foreach name="yearAry" item="item">
				<option value="{$item}" <if condition="$item eq $year"> selected="selected" </if> >{$item}</option>
			</foreach>
			</select>

		</div>
			<div class="col-xs-4" style="border-right:1px solid #b9b9b9;">
                  <input type="text" onchange="isRealNum(this.value);" name="min" id="minx"  value='{$premin}' style="width: 100px;text-align: center;height: 22px;font-size: 13px;margin-top: 5px;border-radius: 3px;border:0px solid #FFFFFF;">
			</div>

			<div class="col-xs-4">
				<input type="text" onchange="isRealNum(this.value);" name="max" id="max" value='{$countTotal}' style="width: 100px;text-align: center;height: 22px;font-size: 13px;margin-top: 5px;border-radius: 3px;border:0px solid #FFFFFF;">
			</div>
			<div class="col-xs-4">
				<input type="submit"   style="width: 100px;text-align: center;height: 22px;font-size: 13px;margin-top: 5px;border-radius: 3px;border:0px solid #FFFFFF;">
			</div>
		</div>
		<div class="row">
			<div id="mountNode" class="col-xs-12" style="height:600px;overflow-y: auto;padding-left:0px;">
				
			</div>
	  </div>
 </form>
	<input id="userid" type="hidden" value="{$userid}">
	<input id="pagelength" type="hidden" value="5">
	<input id="testidarr" type="hidden" value="">
	<input id="questionsum" type="hidden" value="0">
    <input id="stu_id" type="hidden" value="{$stu_id}">
    <input id="stu_name" type="hidden" value="{$stu_name}">
    <input id="keynote_id" type="hidden" value="{$keynote_id}">
    <input id="subject_id" type="hidden" value="{$subject_id}">
    <input id="questioncount" type="hidden" value="0">

</body>
<script src="__PUBLIC__/js/g2.min.js"></script>
<script src="__PUBLIC__/js/data-set.min.js"></script>
<script>

	var chart = new G2.Chart({
  	container: 'mountNode',
  	forceFit: true,
  	height: window.innerHeight
	});
	chart.source({$data});
	chart.scale('num', {
  	min: 1
  });
	chart.scale('ratio', {
 	range: [0, 1]
});
	chart.tooltip({
  	crosshairs: {
    type: 'line'
  }
});
	chart.line().position('num*ratio');
	chart.point().position('num*ratio').size(4).shape('circle').style({
  	stroke: '#fff',
  	lineWidth: 1
});
	chart.render();
  
function a(){
	$('#canvas_1').css('width','400px');
    $('#canvas_1').css('height','500px');
}
  a();
  
  function isRealNum(val)
  {
	  
	  var regPos = /^\d+(\.\d+)?$/; //非负浮点数
	    var regNeg = /^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$/; //负浮点数
	    if(regPos.test(val) || regNeg.test(val)){
	        return true;
	    }else{
	    	alert('请输入数字');
	        return false;
	    }
	     
  }
  
</script>
</html>
