<!doctype html>
<html>
<head>
<title>错题系统</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">



	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" href="../css/main.css"/>
</head>
<body class="background_color">
<div class="container">
	<div class="row">
		<div class="col-xs-2 teacher_left_01"></div>
		<div class="col-xs-8 teacher_middle_01">
			<div id="teacher_middle_01_01" class="row">
				<div class="col-xs-6" style="text-align: left;"><a href="answerpanel0103.html"setpage0101.html""><img class="teacher_back_img" src="../img/reg.png"></a></div>
				<div class="col-xs-6" style="text-align: right;"><div class="teacher_font">习题处理系统</div></div>			
			</div>
			<div id="teacher_middle_01_02_plan" class="row">
			
			<div class="col-xs-1"></div>
			<div class="col-xs-10" style="text-align: center;margin-top: 25px;color:slategray">
			<span style="margin-top: -20px;">序号信息说明</span>
			<hr>
			</div>
			<div class="col-xs-1"></div>
			
			
			</div>
			<div class="row teacher_middle_01_03" >
			<div class="col-xs-2"><img class="teacher_img_02 " src="image/msg_icon.png"></div>
			<div class="col-xs-10 textcss" style="padding-top: 14px;padding-left: 60px;">
				<a >习题序号样式</a>
			</div>
			</div>
			<div  class="row teacher_middle_01_03">
			<div class="col-xs-2"><img class="teacher_img_02 " src="image/lock.png"></div>
			<div class="col-xs-10 " >
					<form action="" method="get"> 
					<select name="" class="name-input input_class_new textarea_line teacher_txt_margin" > 
					<option value="1"  style="margin: 0 auto;">标题级别：一级</option> 
					<option value="1"  style="margin: 0 auto;">出版级别：二级</option>
					<option value="1"  style="margin: 0 auto;">出版级别：三级</option>
					<option value="1"  style="margin: 0 auto;">出版级别：四级</option>
					</select> 
					</form>	
			</div>
			</div>
			<div class="row teacher_middle_01_03" >
			<div class="col-xs-2"><img class="teacher_img_02 " src="image/msg_icon.png"></div>
			
			<div class="col-xs-10" >
					<form action="" method="get"> 
					<select name="" class="name-input input_class_new textarea_line teacher_txt_margin" > 
					<option value="1"  style="margin: 0 auto;">排序方式：整篇</option> 
					<option value="1"  style="margin: 0 auto;">排序方式：部分</option>
					</select> 
					</form>	
			</div>
			</div>
			<div  class="row teacher_middle_01_03">
			<div class="col-xs-2"><img class="teacher_img_02 " src="image/tel_icon.png"></div>
			<div class="col-xs-10">
				<form action="" method="get"> 
				<input required="required"  type="text" class="name-input input_class_new teacher_txt_margin"  placeholder="考试时间" />
				</form>
			</div>
			</div>	
		</div>
		<div class="col-xs-2 teacher_right_01"></div>		
	</div>
	<div class="row teacher_bottom">
		<div class="col-xs-2"><img class="img-responsive center-block teacher_bottom_arrow" src="../img/reg.png"></div>
		<div class="col-xs-8 teacher_bottom_middle"><a  href="#" data-toggle="modal" data-target="#myModal01" >确认上传信息</a></div>
		<div class="col-xs-2"><img class="img-responsive center-block teacher_bottom_arrow" src="../img/reg_01.png"></div>	
	</div>
	
	<div class="modal fade" id="myModal01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:30%;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel" style="text-align: center;">
				图片正在上传					</h4>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer " >
				<button type="button" class="btn btn-default" data-dismiss="modal" style="width:20%;background-color:#87c15d;color:white;" >关闭
				</button>
				<button type="button" class="btn btn-primary" style="background-image: url(../img/button_Bg.png);width:20%;">
					<a href="setpage0101.html">确认</a>
				</button>
			</div>
		
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>	
	
	
</div>
</body>
</html>
