<!DOCTYPE html>
<html class="login-bg">
<head>
    <title>CTB-Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="__PUBLIC__/jquery/jquery.min.js"></script>
	<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/systemset.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
  .input_css{
  	border-bottom: 1px solid #3c3c3c;
	border-top: 0px solid #3c3c3c;
	border-left: 0px solid #3c3c3c;
	border-right: 0px solid #3c3c3c;
    text-align:center;
    width:100px;
  
  }
</style>
</head>
<body >
<div class="contain" style="width: 100%">
    <div class="row" style="height: 45px;"></div>
    <div class="row">
        <div class="col-xs-4" style="padding-left:45px;">
            <b> <span id="bigtitle" style="font-size: 18px;">出版社系统设置</span></b>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="admin_bt_div">
                <table>
                    <tr>
                        <td>
                            <div style="color: #c0b9c8" class="admin_div_unchicked">
                                出版公司
                            </div>
                        </td>
                        <td>
                            <div  class="admin_div_unchicked">
                                <a href="{:U('systemset_02')}">习题册</a>
                            </div>
                        </td>
                        <td>
                            <div class="admin_div_unchicked">
                                <a href="{:U('systemset_03')}">知识点</a>
                            </div>
                        </td>
                        <td>
                            <div class="admin_div_unchicked">
                                <a  href="{:U('systemset_04')}">图片内容</a>
                            </div>
                        </td>
                        <td>
                            <div class="admin_div_unchicked admin_list">
                                <a href="{:U('adminindex/index')}">返回</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="row" style="height: 43px;"></div>
    <div class="row framelist" style="min-height: 26px;border: 1px solid #eaf0f2;text-align: right;font-size: 12px;padding-top: 4px;padding-bottom: 4px;padding-right: 28px;">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span><u><a  href="javascript:void(0)">返回</a></u></span>
    </div>
    <div class="row" style="height: 15px;"></div>
    <div class="row">
        <div class="col-xs-6" style="height: 660px;border-right:1px solid #C3C3C3;">
            <div class="row sysset_blue" style="clear: left;"><span style="font-size: 16px;margin-left: 8%;"><b>出版社列表</b></span> <input onblur="searchpublish()" id="keywords" name="keywords"  type="text" placeholder="出版社名称" style="margin-left:300px;"  class="input_css"></div>
            <hr style="margin-left: 6%;">
            <div class="row" style="height: 250px; overflow-y: auto;padding-left: 8%;padding-right: 2%">

               
          <table id="list1" style="width: 100%;margin-left:0px; margin-right:0px;border: 1px;" class="sysset_msgtable" >
        </table>
                  
         
               
                <div id="admin_page_a" class="row" style="display: block;"><div class="result page" style="margin-left: 20px;margin-top: 0px;"><a onclick="prepage();" href="javascript:void(0)">上一页</a><a style="margin-left: 4px;"><span id="nowpage">1</span>/<span id="pagenum">0</span></a><a style="margin-left: 4px;" onclick="nextpage()" href="javascript:void(0)">下一页</a></div></div>
             </div>

        </div>

        <div class="col-xs-6" style="height: 660px;">
            <div class="row sysset_blue" style="clear: left;"><span style="font-size: 16px;margin-left: 8%;"><b>添加出版社</b></span></div>
            <hr style="margin-left: 6%;">
            <div class="row" style="height:600px; overflow-y: auto;padding-left: 8%;padding-right: 2%">
                <div class="sysset_msgli" id="tec_msgli">
                    <ol>
                        <li >
                            <span  class="sysset_marginleft14">出版社名称：</span> <input type="text" name="name" id="name">
                        </li>
                        <li >
                            <span  class="sysset_marginleft28">联系人：</span> <input type="text" name="username" id="username">
                        </li>
                        <li >
                            <span class="sysset_marginleft28">电话：</span> <input type="text" name="phone" id="phone">
                        </li>
                        <li>
                            <span class="sysset_marginleft28" >地址：</span>   <input type="text" name="address" id="address">
                        </li>
                      <input type="hidden" name="publishid" id="publishid" value="0">

                        <li>
                           <input style="margin-top:60px;margin-left:120px;background-color:transparent;border:1px solid #e3e3e3;width:70px;" onclick="addpublish();" type="button"  value="确认">
                           <input style="margin-left:30px;background-color:transparent;border:1px solid #e3e3e3;width:70px;" type="button"  value="取消">
                        </li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
  

</div>

	<input id="pagelength" name="pagelength" type="hidden" value="6">
 

</body>
<script type="text/javascript">


    $(function(){

    	var nowpage=1;
    	var pagelength=$('#pagelength').val();
    	var keywords=$("#keywords").val();
    	person_sql_publish(nowpage,pagelength,keywords);
    })

	function searchpublish()
    {
    	var nowpage=1;
    	var pagelength=$('#pagelength').val();
    	var keywords=$("#keywords").val();
    	$('#list1').html('');
    	person_sql_publish(nowpage,pagelength,keywords);
    }
 
 	function nextpage()
	{
		var nowpage=$('#nowpage').text();
		var maxnum=$('#pagenum').text();
		var pagelength=$('#pagelength').val();
		var keywords=$("#keywords").val();
		
		nowpage=nowpage*1+1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
		 
		$('#list1').html('');
		
    	person_sql_publish(nowpage,pagelength,keywords);
	}
	
	function prepage()
	{
		var nowpage=$('#nowpage').text();
		var maxnum=$('#pagenum').text();
		var pagelength=$('#pagelength').val();
		var keywords=$("#keywords").val();
		
		nowpage=nowpage*1-1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
 
		$('#list1').html('');
		person_sql_publish(nowpage,pagelength,keywords)
	}

 

    function addpublish()
    {
    	var name=$('#name').val();
    	var username=$('#username').val();
    	var phone=$('#phone').val();
    	var address=$('#address').val();
    	var publishid=$("#publishid").val();
    	
        if(name=='')
        {
            alert('出版社名称不能为空！！');
            return;
        }
        if(username=='')
        {
            alert('联系人不能为空！！');
            return;
        }
        
        $.ajax({
            url: "{:U('addpublish')}",
            type: 'POST',
            data: {name:name,username: username, phone: phone,address:address,publishid:publishid},
            dataType: 'json',
            success: function (re) {
            	 if(re>=1) {
                	 alert('操作成功');
                 	 $('#name').val('');
                	 $('#username').val('');
                	 $('#phone').val('');
                	 $('#address').val('');
                	 location.reload();
                 }
            	 if(re==-1) {
            		 alert('出版社名称重复请重试');
            		 return;
            	 }
            }
        })
    }
    
    function person_sql_publish(nowpage,pagelength,keywords)
    {

        $.ajax({
	        url:"{:U('php_publish_sql')}",
	        type: 'POST',
	        data: {nowpage:nowpage,pagelength:pagelength,keywords:keywords},
	        dataType: 'json',
	        success: function(re) {
	        	var testlist=re;
				var addhtmlmsg = '<tr><th>序号</th><th>出版社名称</th><th>联系人</th><th>状态</th><th>时间</th><th>操作</th></tr>';
				var beginhtml = $('#list1').html();
				var mylength = testlist['length'];
				var pagenum=testlist['pagenum'];
				
				$('#pagenum').text(pagenum);
				$('#nowpage').text(nowpage);
	
				for (var i = 0; i<mylength; i++) 
	            {
					j=i+1;
					addhtmlmsg=addhtmlmsg+'<tr class="change"><td>'+j+'<input type="hidden" value="1"></td><td><a href="#" onclick="detailpublish('+testlist[i]['id']+')" >'+testlist[i]['name']+'</a></td><td>'+testlist[i]['username']+'</td><td>'+testlist[i]['status']+'</td><td>'+testlist[i]['createtime']+'</td><td><a href="#" onclick="delpublish('+testlist[i]['id']+');">删除</a>&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="editpublish('+testlist[i]['id']+','+testlist[i]['newstatus']+');" href="#}">'+testlist[i]['nstatus']+'</a></td></tr>';
					$('#list1').html(beginhtml + addhtmlmsg);
					j++;
	            }
	
	           
	        }
	    });
    }
    
    
    function delpublish(id)
    {
    	if(id) {
	    	 $.ajax({
	             url: "{:U('delpublish')}",
	             type: 'POST',
	             data: {id:id},
	             dataType: 'json',
	             success: function (re) {
	                 if(re==1) {
	                	 alert('删除成功');
	                	 location.reload();
	                 }
	             }
	         })
   		}
    }
    
    function editpublish(id,status)
    {
    	if(id) {
	    	 $.ajax({
	             url: "{:U('editpublish')}",
	             type: 'POST',
	             data: {id:id,status:status},
	             dataType: 'json',
	             success: function (re) {
	                 if(re==1) {
	                	 alert('操作成功');
	                	 location.reload();
	                 } 
	             }
	         })
    	}
    }
    
    function detailpublish(id)
    {
    	if(id) {
	    	 $.ajax({
	             url: "{:U('detailpublish')}",
	             type: 'POST',
	             data: {id:id,status:status},
	             dataType: 'json',
	             success: function (re) {
	             	$("#name").val(re.name);
	             	$("#username").val(re.username);
	             	$("#phone").val(re.phone);
	             	$("#address").val(re.address);
	             	$("#publishid").val(re.id);
	             }
	         })
   	}
    }
</script>
</html>