<!DOCTYPE html>
<html class="login-bg">
<head>
    <title>CTB-Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/systemset.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/buildpage.css"/>
    <script src="__PUBLIC__/js/testtitle.js"></script>
    <script src="__PUBLIC__/js/sys_public.js"></script>
    <script src="__PUBLIC__/js/public.js"></script>
<style type="text/css">
  .input_css{
  	border-bottom: 1px solid #3c3c3c;
	border-top: 0px solid #3c3c3c;
	border-left: 0px solid #3c3c3c;
	border-right: 0px solid #3c3c3c;
    text-align:center;
    width:60px;
  
  }
</style>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body >
<div class="contain">
    <div class="row" style="height: 45px;"></div>
    <div class="row">
        <div class="col-xs-4" style="padding-left:45px;">
            <b> <span id="bigtitle" style="font-size: 18px;">出版社系统设置</span></b>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="admin_bt_div">
                <table>
                    <tr>
                        <td>
                            <div  class="admin_div_unchicked">
                                <a href="{:U('systemset_01')}">出版公司</a>
                            </div>
                        </td>
                        <td>
                            <div class="admin_div_unchicked">
                                <a href="{:U('systemset_02')}">习题册</a>
                            </div>
                        </td>
                        <td>
                            <div   class="admin_div_unchicked">
                                <a  href="{:U('systemset_03')}">知识点</a>
                            </div>
                        </td>
                        <td>
                            <div style="color: #c0b9c8"  class="admin_div_unchicked">
                                图片内容
                            </div>
                        </td>
                        <td>
                            <div class="admin_div_unchicked admin_list">
                                <a href="{:U('adminindex/index')}">返回</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="row" style="height: 43px;"></div>
    <div class="row framelist" style="min-height: 26px;border: 1px solid #eaf0f2;text-align: right;font-size: 12px;padding-top: 4px;padding-bottom: 4px;padding-right: 28px;">
       <input id="chapter_part1" name="chapter_part" type="radio" value="part"  checked="checked" onclick="divshow(1);"><span>试卷（2/6）</span><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><input id="chapter_part2" type="radio"  name="chapter_part"  value="chapter" onclick="divshow(2)"  ><span>知识点（3/20）</span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div class="row" style="height: 15px;"></div>
    <div class="row">
        <div class="col-xs-6" style="height: 340px;border-right:1px solid #C3C3C3;">
            <div style="font-size: 16px;margin-left: 8%;"><b style="float: left;">习题 上传预览</b><input id="file_exercise" style="margin-left: 300px;" type="file" multiple="multiple" name="img[]" onchange="previewFiles()"></div>
            <hr style="margin-left: 6%;">
            <div class="row" style="background-color: #C3C3C3;height: 260px; overflow-x: scroll;white-space: nowrap;padding-left: 4px;padding-right: 4px;" id="preview_div">
            </div>
        </div>

        <div class="col-xs-6" style="height: 340px;border-right:1px solid #C3C3C3;">
            <div style="font-size: 16px;margin-left: 8%;"><b style="float: left;">答案  上传预览</b><input id="file_answer" style="margin-left: 350px;" type="file" multiple="multiple" name="img_answer[]" onchange="previewFilesAnswer()"></div>
            <hr style="margin-left: 6%;">
            <div class="row" style="background-color: #C3C3C3;border-left:1px solid #FFFFFF;height: 260px; overflow-x: scroll;white-space: nowrap;padding-left: 4px;padding-right: 4px;" id="preview_answer_div">
            </div>
        </div>

    </div>


    <div class="row"style="border-top:1px solid #C3C3C3;padding-top: 15px;">
        <div class="col-xs-6" style="height: 330px;border-right:1px solid #C3C3C3;padding-top: 20px;">
            <div class="row sysset_blue" style="clear: left;"><span  id="chapter_part_msg" style="font-size: 16px;margin-left: 8%;"><b><span id="pagetitle"></span>列表</b></span>
            <span id="searchexexcisediv">
            <input onblur="searchexercise();" name="publishname" id="publishname" type="text" placeholder="出版社" class="input_css" style="margin-left:200px;"> 
            <input onblur="searchexercise();"  type="text" placeholder="习题册" name="exercisename" id="exercisename"  class="input_css"> 
            </span>
            <span id="searchkpointdiv">
            <input onblur="searchkpoint();" name="kpublishname" id="kpublishname" type="text" placeholder="出版社" class="input_css" style="margin-left:200px;"> 
            <input onblur="searchkpoint();"  type="text" placeholder="习题册" name="kexercisename" id="kexercisename"  class="input_css"> 
            <input  onblur="searchkpoint();" name="kpoint" id="kpoint"  type="text" placeholder="知识点"  class="input_css"></div>
            </span>
            
            <hr style="margin-left: 6%;">
            <div  class="row" style="height: 250px; overflow-y: auto;padding-left: 8%;padding-right: 2%">
               
         <table id="exercisediv" style="width: 100%;margin-left:0px; margin-right:0px;border: 1px;" class="sysset_msgtable" >
        </table>
              
              
                <input id="part_begin" type="hidden" value="1">
                <div id="exercisepagediv" class="row"><div class="result page" style="margin-left: 20px;margin-top: 0px;"><a onclick="prepage();" href="javascript:void(0)">上一页</a><a style="margin-left: 4px;"><span id="nowpage">1</span>/<span id="pagenum">0</span></a><a style="margin-left: 4px;" onclick="nextpage()" href="javascript:void(0)">下一页</a></div></div>

            <table id="kpointdiv" style="width: 100%;margin-left:0px; margin-right:0px;border: 1px;" class="sysset_msgtable" >
      
        </table>
                <input id="chaptermsg_begin" type="hidden" value="1">
                <div id="kpointpagediv" class="row"><div class="result page" style="margin-left: 20px;margin-top: 0px;"><a onclick="kprepage();" href="javascript:void(0)">上一页</a><a style="margin-left: 4px;"><span id="knowpage">1</span>/<span id="kpagenum">0</span></a><a style="margin-left: 4px;" onclick="knextpage()" href="javascript:void(0)">下一页</a></div></div>


            </div>
        </div>

        <div class="col-xs-6" style="height: 330px;border-right:1px solid #C3C3C3;padding-top: 20px;">
            <div class="row" style="font-size: 16px;margin-left: 8%;">
                <div class="col-xs-5"><b>操作：上传知识点原始试卷</b></div>
                <div class="col-xs-4">
                    <div name="aprogressdiv">
                        <progress id="ap" value="0" style="width: 50%;float:left;"></progress><span id="aprogress" style="margin-left: 2px;"></span>
                    </div>
                </div>
                <div class="col-xs-3"> </div>
            </div>
            <hr style="margin-left: 6%;">
            <div class="row" style="height: 250px; overflow-y: auto;padding-left: 8%;padding-right: 2%">
                <div class="col-xs-3" style="height: 250px;">
                     <div  class="row" >
                        <input name="examname" id="examname"  required="required" type="text" value="" placeholder="试卷名称"  style="font-size:13px;width: 100px;text-align: center;">
                    </div>
                      <div  class="row" style="margin-top: 10px;" >
                        <input name="kpointname" id="kpointname" type="text" value="" placeholder="知识点"  style="font-size:13px;width: 100px;text-align: center;">
                    </div>

                    <div id="test_kind_select" class="row"  style="margin-top: 10px;" >
                        <input name="newpublishname" id="newpublishname"   type="text" value="" placeholder="出版社"  style="font-size:13px;width: 100px;text-align: center;">
                    </div>
                    <div class="row"  style="margin-top: 10px;">
                        <input name="newexercisename" id="newexercisename"  type="text" value="" placeholder="习题册"  style="font-size:13px;width: 100px;text-align: center;">
                    </div>
   
                    <input type="hidden" name="kpointid" id="kpointid" value=0>
                    <input type="hidden" name="kpaperid" id="kpaperid" value=0>
                    <input type="hidden" name="exerciseid" id="exerciseid" value=0>
                    <input type="hidden" name="filesernum" id="filesernum" value=0>
                    <input type="hidden" name="kind" id="kind" value="1">
                     <div class="row"  style="margin-top: 10px;">
                    <input style="margin-left:30px;background-color:transparent;border:1px solid #e3e3e3;width:70px;" id="input_bt" type="button"    value="图文处理">
                     <input style="margin-left:30px;background-color:transparent;border:1px solid #e3e3e3;width:70px;"  type="button" onclick="addkeypaper();"  value="信息更新">
                    </div>
                  
                 
                </div>
                <div id="keynote_div" class="col-xs-9" style="border-left:1px solid #000000;height: 250px; overflow-y: auto;">
         <table id="exerciselistdiv" style="width: 100%;margin-left:0px; margin-right:0px;border: 1px;" class="sysset_msgtable" >
            <tr>
                <th>序号</th><th>试卷名称</th><th>时间</th><th>习题图片</th><th>答案图片</th><th>状态</th><th>操作</th>
            </tr>
        </table>
                  
                  
          <table id="kpointlistdiv" style="width: 100%;margin-left:0px; margin-right:0px;border: 1px;" class="sysset_msgtable" >
            <tr id="kpointlistdivtr">
                <th>序号</th><th>试卷名称</th><th>习题图片</th><th>答案图片</th><th>过程</th><th>操作</th>
            </tr>
           
        </table>
             
                </div>

            </div>
        </div>

    </div>
	 <input type="hidden" name="kpointnum" id="kpointnum" value="0">     
    <input type="hidden" id="edit_status" value="add">

<input id="pagelength" name="pagelength" type="hidden" value="6">
</div>

</body>
<script type="text/javascript">
$(function(){
	divshow(1);
})

function searchexercise()
{
   	var nowpage=1;
   	var pagelength=$('#pagelength').val();
   	var keywords=$("#exercisename").val();
   	var publishname=$("#publishname").val();
   	
   	$('#exercisediv').html('');
   	person_sql_exercise(nowpage,pagelength,keywords,publishname);
}

function nextpage()
{
	var nowpage=$('#nowpage').text();
	var maxnum=$('#pagenum').text();
	var pagelength=$('#pagelength').val();
	var keywords=$("#exercisename").val();
	var publishname=$("#publishname").val();
	
	nowpage=nowpage*1+1;
	if(nowpage>maxnum)
	{
		return;
	}
	if(nowpage<1)
	{
		return;
	}
	 
	$('#exercisediv').html('');
	
	person_sql_exercise(nowpage,pagelength,keywords,publishname);
}

function prepage()
{
	var nowpage=$('#nowpage').text();
	var maxnum=$('#pagenum').text();
	var pagelength=$('#pagelength').val();
	var keywords=$("#exercisename").val();
	var publishname=$("#publishname").val();
	
	nowpage=nowpage*1-1;
	if(nowpage>maxnum)
	{
		return;
	}
	if(nowpage<1)
	{
		return;
	}

	$('#exercisediv').html('');
	person_sql_exercise(nowpage,pagelength,keywords,publishname);
}

function person_sql_exercise(nowpage,pagelength,keywords,publishname)
{
	$('#exercisediv').html('');
    $.ajax({
        url:"{:U('php_exercise_sql')}",
        type: 'POST',
        data: {nowpage:nowpage,pagelength:pagelength,keywords:keywords,publishname:publishname},
        dataType: 'json',
        success: function(re) {
        	var testlist=re;
			var addhtmlmsg = '<tr><th>序号</th><th>习题册</th><th>出版社</th><th>试卷数</th><th>时间</th><th>过程</th></tr>';
			var beginhtml = $('#exercisediv').html();
			var mylength = testlist['length'];
			var pagenum=testlist['pagenum'];
			
			$('#pagenum').text(pagenum);
			$('#nowpage').text(nowpage);

			for (var i = 0; i<mylength; i++) 
            {
				j=i+1;
				addhtmlmsg=addhtmlmsg+'<tr class="change"><td>'+j+'<input type="hidden" value="1"></td><td><a href="#"  onclick="detailexercise('+testlist[i]['id']+')">'+testlist[i]['name']+'</a></td><td>'+testlist[i]['publishname']+'</td><td>1</td><td>'+testlist[i]['createtime']+'</td><td>2</td></tr>';
				$('#exercisediv').html(beginhtml + addhtmlmsg);
				j++;
            }

           
        }
    });
}

function detailexercise(id)
{
	if(id) {
    	 $.ajax({
             url: "{:U('detailexercise')}",
             type: 'POST',
             data: {id:id},
             dataType: 'json',
             success: function (re) {
             	$("#newexercisename").val(re.name);
             	$("#newpublishname").val(re.publishname);
             	$("#exerciseid").val(re.id);
             	$("#kpointnum").val(re.count);
             	$("#examname").val('');
             	  
                $("#exerciselistdiv").html('<tr id="kpointlistdivtr"><th>序号</th><th>试卷名称</th><th>时间</th><th>习题图片</th><th>答案图片</th><th>操作</th></tr>');
                testlist=re['list'];
                var mylength = re['count'];
                var appendhtml='';
    			for (var i = 0; i<mylength; i++) 
                {
    				j=i+1;
    				var appendhtml=appendhtml+"<tr id='paper"+testlist[i]['id']+"' class='change'><td>"+j+"</td><td id='papername"+testlist[i]['id']+"'> <a href=# onclick='detailexercisepaper("+testlist[i]['id']+")'>"+testlist[i]['paper_name']+"</a></td><td>"+testlist[i]['creat_time']+"</td><td id='examimg"+testlist[i]['id']+"'><a target='_blank' href='"+testlist[i]['examimg']+"'><img width='30px' width='30px' src='"+testlist[i]['examimg']+"'></a></td><td id='answerimg"+testlist[i]['id']+"'><a target='_blank' href='"+testlist[i]['answerimg']+"'><img width='30px' width='30px' src='"+testlist[i]['answerimg']+"'></a></td><td><a onclick='orderkeypaper("+testlist[i]['id']+","+testlist[i]['preid']+",1,1)'>向上</a><a onclick='orderkeypaper("+testlist[i]['id']+","+testlist[i]['nextid']+",2,1)'>向下</a><a onclick='deletekeypaper("+testlist[i]['id']+",1)'>删除</a></td></tr>";
    				j++;
                }
    			$("#exerciselistdiv").append(appendhtml);
             }
         })
	}
}

    function selectkeynote()
    {
        var subjectmsg_val=$('#subjectmsg_select').find("option:selected").val();
        var grademsg_val=$('#grademsg_select').find("option:selected").val();
        var keynote_input=$('#keynote_input').val();
        // alert(subjectmsg_val+','+grademsg_val+','+keynote_input);
        $.ajax({
            url: "{:U('php_selectkeynote')}",
            type: 'POST',
            data: {subjectid:subjectmsg_val,gradeid:grademsg_val,keynote:keynote_input},
            dataType: 'json',
            success: function (re) {
                var count=re['count'];
                var ihtml='';
                var i;
                for(i=0;i<count;i++)
                {
                    ihtml=ihtml+'<label style="margin-right: 10px;"><input value="'+re[i]['id']+'" name="keynoteid" type="checkbox" ><span>'+re[i]['keynotemsg']+'</span></label>';
                }
                $('#keynote_div').html(ihtml);
            }
        });
    }

    $("#input_bt").click(function(){
   
        var formData = new FormData();
        for(var i=0; i<$('#file_exercise')[0].files.length;i++){
            formData.append('file_exercise[]', $('#file_exercise')[0].files[i]);
        }

        for(var i=0; i<$('#file_answer')[0].files.length;i++){
            formData.append('file_answer[]', $('#file_answer')[0].files[i]);
        }

        var exerciseInput = $('#file_exercise').val();
        var answerInput = $('#file_answer').val();
        if(exerciseInput=='' && answerInput=='') {
        	  alert('请上传习题和答案图片');
              return;
        }

        obj=document.getElementsByName("keynoteid");
        check_val=[];

        var mylength=$("input[name='keynoteid']:checked").length;

        if(mylength!=0) {
            for (k in obj) {
                if (obj[k].checked)
                    check_val.push(obj[k].value);
            }
        }

        var paper_name=$('#examname').val();
        
        var test_kind_select=$("input[name='kind_select']:checked").val();
        var keynote_id=$("#kpointid").val();
        var subjectid=$('#subjectmsg_select').find("option:selected").val();
        var schoolname=$('#schoolname_select').find("option:selected").val();
        var keynote_input=$('#keynote_input').val();
        var filesernum=createfilesernum('system');
        var gradeid=$('#grademsg_select').find("option:selected").val();
        var kpaperid=$("#kpaperid").val();
        var kind=$("#kind").val();
        var exerciseid=$("#exerciseid").val();
  
        $('#filesernum').val(filesernum);
        if(paper_name==0)
        {
            alert('试卷名称必须是日期格式！！');
            return;
        }

  

        formData.append('paper_name', paper_name);
        formData.append('test_kind', test_kind_select);
        formData.append('keynote_id', keynote_id);
        formData.append('subjectid', subjectid);
        formData.append('schoolname', schoolname);
        formData.append('keynote_input', keynote_input);
        formData.append('filesernum', filesernum);
        formData.append('gradeid', gradeid);
        formData.append('kpaperid', kpaperid);
        formData.append('kind', kind);
        formData.append('exerciseid', exerciseid);

//    alert(paper_name+'|'+test_kind_select+'|'+keynote_id+'|'+subjectid+'|'+schoolname+'|'+keynote_input+'|'+filesernum+'|'+gradeid);
//    return;

        $.ajax({
            url: "{:U('Publishset/upload')}",
            type: "POST",
            processData: false,
            contentType: false,
            data: formData,
            dataType: 'json',
            xhr: function(){ //获取ajaxSettings中的xhr对象，为它的upload属性绑定progress事件的处理函数
                myXhr = $.ajaxSettings.xhr();
                if(myXhr.upload){ //检查upload属性是否存在
                    //绑定progress事件的回调函数
                    myXhr.upload.addEventListener('progress',aprogressHandlingFunction, false);
                }
                return myXhr; //xhr对象返回给jQuery使用
            },
            success: function(re){
                $('#ap').val(0);
                $('#aprogress').html('');
                $('#preview_div').html('');
                $('#preview_answer_div').html('');
                alert('上传成功');
                
                //添加到右侧列表  知识点和试卷
                if(kind==2) {
                	detailkpoint(keynote_id);
                }
                
                if(kind==1) {
                	detailexercise(exerciseid);
                }
           		
           		//清空输入框的数据
                emptyform();
            }
        });

    });

    //上传进度回调函数：
    function aprogressHandlingFunction(e) {
        if (e.lengthComputable) {
            $('#ap').attr({value : e.loaded, max : e.total}); //更新数据到进度条
            var percent = e.loaded/e.total*100;
            $('#aprogress').html(percent.toFixed(2) + "%");
        }
    }

    function previewFiles() {
        var preview = document.querySelector('#preview_div');
        var files = document.querySelector('input[id=file_exercise]').files;

        function readAndPreview(file) {

            // Make sure `file.name` matches our extensions criteria
            if (/\.(jpe?g|png|gif)$/i.test(file.name)) {
                var reader = new FileReader();

                reader.addEventListener("load", function() {
                    var image = new Image();
                    image.title = file.name;
                    image.src = this.result;
                    //image.width='190';
                    image.height='260';

                    preview.appendChild(image);
                }, false);

                reader.readAsDataURL(file);
            }

        }

        if (files) {
            $('#preview_div').html(' ');
            [].forEach.call(files, readAndPreview);
        }

    }

    function previewFilesAnswer() {
        var preview = document.querySelector('#preview_answer_div');
        var files = document.querySelector('input[id=file_answer]').files;

        function readAndPreview(file) {

            // Make sure `file.name` matches our extensions criteria
            if (/\.(jpe?g|png|gif)$/i.test(file.name)) {
                var reader = new FileReader();

                reader.addEventListener("load", function() {
                    var image = new Image();
                    image.title = file.name;
                    image.src = this.result;
                    //image.width='190';
                    image.height='260';

                    preview.appendChild(image);
                }, false);

                reader.readAsDataURL(file);
            }

        }

        if (files) {
            $('#preview_answer_div').html(' ');
            [].forEach.call(files, readAndPreview);
        }

    }

    //控制层是否显示
    function divshow(type)
    {
    	if(type==1) {
    		//左侧习题列表和分页显示
    		$("#exercisediv").show();
    		$("#exercisepagediv").show();
    		$("#kpointdiv").hide();
    		$("#kpointpagediv").hide();
    		$("#pagetitle").html('试卷选择');
    		
    		//右侧习题列表和分页
    		$("#exerciselistdiv").show();
    		$("#kpointlistdiv").hide();
    		
    		//习题的搜索框
    		$("#searchexexcisediv").show();
    		$("#searchkpointdiv").hide();
    		$("#examname").show();
    		
    		//右侧的添加知识点输入框
    		$("#kpointname").hide();
    		
    		//试卷和知识点
    		$("#kind").val(1);
    		
    		//左侧试卷列表
    		var nowpage=1;
    		var pagelength=$('#pagelength').val();
    		var keywords=$("#exercisename").val();
    		var publishname=$("#publishname").val();
    		person_sql_exercise(nowpage,pagelength,keywords,publishname);
    	}
    	
    	if(type==2) {
    		//左侧知识点列表和分页显示
    		$("#exercisediv").hide();
    		$("#exercisepagediv").hide();
    		$("#kpointdiv").show();
    		$("#kpointpagediv").show();
    		$("#pagetitle").html('知识点选择');
    		
    		//右侧知识点列表和分页
    		$("#exerciselistdiv").hide();
    		$("#kpointlistdiv").show();
    		
    		//搜索框
    		$("#searchkpointdiv").show();
    		$("#searchexexcisediv").hide();
    		
    		//试卷名称
    		$("#examname").show();
    		
    		//右侧的添加知识点输入框
    		$("#kpointname").show();
    		
    		
    		//试卷和知识点
    		$("#kind").val(2);
    		
    		//左侧知识点列表
    		var nowpage=1;
    		var pagelength=$('#pagelength').val();
    		var keywords=$("#kpoint").val();
    		var publishname=$("#kpublishname").val();
    		var exercisename=$("#kexercisename").val();
    		
    		person_sql_kpoint(nowpage,pagelength,keywords,publishname,exercisename);
    	}
    }
    
    
	//知识点ajax获取数据
    function person_sql_kpoint(nowpage,pagelength,keywords,publishname,exercisename)
    {
    	$('#kpointdiv').html('');
        $.ajax({
            url:"{:U('php_kpoint_sql')}",
            type: 'POST',
            data: {nowpage:nowpage,pagelength:pagelength,keywords:keywords,publishname:publishname,exercisename:exercisename},
            dataType: 'json',
            success: function(re) {
            	var testlist=re;
    			var addhtmlmsg = '<tr><th>序号</th><th>知识点</th><th>习题册</th><th>出版社</th><th>时间</th><th>过程</th></tr>';
    			var beginhtml = $('#kpointdiv').html();
    			var mylength = testlist['length'];
    			var pagenum=testlist['pagenum'];
    			
    			$('#kpagenum').text(pagenum);
    			$('#knowpage').text(nowpage);

    			for (var i = 0; i<mylength; i++) 
                {
    				j=i+1;
    				addhtmlmsg=addhtmlmsg+'<tr class="change"><td>'+j+'<input type="hidden" value="1"></td><td><a href="#" onclick="detailkpoint('+testlist[i]['id']+');" >'+testlist[i]['keynotemsg']+'</a></td><td>'+testlist[i]['exercisename']+'</td><td>'+testlist[i]['publishname']+'</td><td>'+testlist[i]['createtime']+'</td><td></td></tr>';
    				$('#kpointdiv').html(beginhtml + addhtmlmsg);
    				j++;
                }

               
            }
        });
    }
	
    function searchkpoint()
    {
       	var nowpage=1;
       	var pagelength=$('#pagelength').val();
       	var keywords=$("#kpoint").val();
       	var publishname=$("#kpublishname").val();
       	var exercisename=$("#kexercisename").val();
       	
       	person_sql_kpoint(nowpage,pagelength,keywords,publishname,exercisename);
    }


    function knextpage()
    {
    	var nowpage=$('#knowpage').text();
    	var maxnum=$('#kpagenum').text();
    	var pagelength=$('#pagelength').val();
    	var keywords=$("#kpoint").val();
    	var publishname=$("#kpublishname").val();
    	var exercisename=$("#kexercisename").val();
    	
    	nowpage=nowpage*1+1;
    	if(nowpage>maxnum)
    	{
    		return;
    	}
    	if(nowpage<1)
    	{
    		return;
    	}
    	 
    	
    	person_sql_kpoint(nowpage,pagelength,keywords,publishname,exercisename);
    }

    function kprepage()
    {
    	var nowpage=$('#knowpage').text();
    	var maxnum=$('#kpagenum').text();
    	var pagelength=$('#pagelength').val();
    	var keywords=$("#kpoint").val();
    	var publishname=$("#kpublishname").val();
    	var exercisename=$("#kexercisename").val();
    	
    	nowpage=nowpage*1-1;
    	if(nowpage>maxnum)
    	{
    		return;
    	}
    	if(nowpage<1)
    	{
    		return;
    	}

    	person_sql_kpoint(nowpage,pagelength,keywords,publishname,exercisename);
    }
    
    function detailkpoint(id)
    {
    	if(id) {
        	 $.ajax({
                 url: "{:U('detailkpoint')}",
                 type: 'POST',
                 data: {id:id},
                 dataType: 'json',
                 success: function (re) {
                 	$("#newexercisename").val(re.exercisename);
                    $("#newpublishname").val(re.publishname);
                    $("#kpointname").val(re.keynotemsg);
                    $("#kpointid").val(re.id);
                    $("#kpointnum").val(re.count);
                    $("#examname").val('');
                    
                    
                    $("#kpointlistdiv").html('<tr id="kpointlistdivtr"><th>序号</th><th>试卷名称</th><th>习题图片</th><th>答案图片</th><th>过程</th><th>操作</th></tr>');
                    testlist=re['list'];
                    var mylength = re['count'];
                    var appendhtml='';
        			for (var i = 0; i<mylength; i++) 
                    {
        				j=i+1;
        				var appendhtml=appendhtml+"<tr id='paper"+testlist[i]['id']+"' class='change'><td>"+j+"</td><td id='papername"+testlist[i]['id']+"'> <a href=# onclick='detailkpointpaper("+testlist[i]['id']+")'>"+testlist[i]['paper_name']+"</a></td><td id='examimg"+testlist[i]['id']+"'><a target='_blank' href='"+testlist[i]['examimg']+"'><img width='30px' width='30px' src='"+testlist[i]['examimg']+"'></a></td><td id='answerimg"+testlist[i]['id']+"'><a target='_blank' href='"+testlist[i]['answerimg']+"'><img width='30px' width='30px' src='"+testlist[i]['answerimg']+"'></a></td><td><a>未完成</a></td><td><a onclick='orderkeypaper("+testlist[i]['id']+","+testlist[i]['preid']+",1,2)'>向上</a><a onclick='orderkeypaper("+testlist[i]['id']+","+testlist[i]['nextid']+",2,2)'>向下</a><a onclick='deletekeypaper("+testlist[i]['id']+",2)'>删除</a></td></tr>";
        				j++;
                    }
        			$("#kpointlistdiv").append(appendhtml);
                 }
             });
    	}
    }
    
    function detailkpointpaper(id)
    {
    	if(id) {
        	 $.ajax({
                 url: "{:U('detailkpointpaper')}",
                 type: 'POST',
                 data: {id:id},
                 dataType: 'json',
                 success: function (re) {
                 	$("#newexercisename").val(re.exercisename);
                    $("#newpublishname").val(re.publishname);
                    $("#kpointname").val(re.kpointname);
                    $("#kpaperid").val(re.id);
                    $("#kpointid").val(re.keynote_id);
                    $("#examname").val(re.paper_name);
                 }
             });
    	}
    }
    
    function detailexercisepaper(id)
    {
    	if(id) {
        	 $.ajax({
                 url: "{:U('detailexercisepaper')}",
                 type: 'POST',
                 data: {id:id},
                 dataType: 'json',
                 success: function (re) {
                 	$("#newexercisename").val(re.exercisename);
                    $("#newpublishname").val(re.publishname);
                    $("#kpointname").val(re.kpointname);
                    $("#kpaperid").val(re.id);
                    $("#exerciseid").val(re.exerciseid);
                    $("#examname").val(re.paper_name);
                 }
             });
    	}
    }
    
    function addkeypaper()
    {
    	var examname=$("#examname").val();
    	var kpointid=$("#kpointid").val();
    	var filesernum=$("#filesernum").val();
    	var kpaperid=$("#kpaperid").val();
    	var exerciseid=$("#exerciseid").val();
    	var kind=$("#kind").val();
 
    	if(examname && kpaperid) {
	       	$.ajax({
	             url: "{:U('addkeypaper')}",
	             type: 'POST',
	             data: {examname:examname,kpointid:kpointid,filesernum:filesernum,kpaperid:kpaperid,kind:kind,exerciseid:exerciseid},
	             dataType: 'json',
	             success: function (re) {
	            	 
	           		alert('处理成功');
	           		if(kind==2) {
	            		var appendhtml="<td id='papername"+re.id+"'> <a href=# onclick='detailkpointpaper("+re.id+")'>"+re.paper_name+"</a></td>";
	            		$("#papername"+re.id).html(appendhtml);
	            		//清空下输入框的数据
	            		emptyform();
	           		}
	            	 
                    if(kind==1) {
    	           		var appendhtml="<td id='papername"+re.id+"'> <a href=# onclick='detailexercisepaper("+re.id+")'>"+re.paper_name+"</a></td>";
    	           		$("#papername"+re.id).html(appendhtml);
    	           		//清空下输入框的数据
	            		emptyform();
                    }
	             }
	         });
    	}
    }
    
    function emptyform()
    {
    	//清空输入框的数据
   		$("#newexercisename").val('');
        $("#newpublishname").val('');
        $("#kpointname").val('');
        $("#kpointid").val('');
        $("#examname").val('');
        $("#exerciseid").val('');
        $("#file_exercise").val('');
        $("#file_answer").val('');
    }
    
    function deletekeypaper(id,kind)
    {
    	if(id && kind) {
       	 $.ajax({
                url: "{:U('deletekeypaper')}",
                type: 'POST',
                data: {id:id,kind:kind},
                dataType: 'json',
                success: function (re) {
                    if(re==1) {
                   	 alert('删除成功');
                   	 $("#paper"+id).hide();
                    }
                }
            });
   		}
    }
    
    //排序 1向上 2向下3是区分知识点和试卷
    function orderkeypaper(id,iid,status,kind)
    {
       	if(id && kind && iid) {
          	 $.ajax({
                   url: "{:U('orderkeypaper')}",
                   type: 'POST',
                   data: {id:id,kind:kind,iid:iid},
                   dataType: 'json',
                   success: function (re) {
                       if(re==1) {
                      	
                       }
                   }
               });
          	 if(kind==1) {
             	var exerciseid=$("#exerciseid").val();
          		detailexercise(exerciseid);
          	 }
          	 if(kind==2) {
              	var kpointid=$("#kpointid").val();
              	detailkpoint(kpointid);
           	 }
      	}
    }
    
   
 
</script>
</html>