<!DOCTYPE html>
<html class="login-bg">
<head>
    <title>知识点</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/systemset.css"/>
    <script src="__PUBLIC__/js/testtitle.js"></script>
    <script src="__PUBLIC__/js/sys_public.js"></script>
<style type="text/css">
  .input_css{
  	border-bottom: 1px solid #3c3c3c;
	border-top: 0px solid #3c3c3c;
	border-left: 0px solid #3c3c3c;
	border-right: 0px solid #3c3c3c;
    text-align:center;
    width:100px;
  
  }
</style>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body >
<div class="contain" style="width: 100%">
    <div class="row" style="height: 45px;"></div>
    <div class="row">
        <div class="col-xs-4" style="padding-left:45px;">
            <b> <span id="bigtitle" style="font-size: 18px;">知识点系统设置</span></b>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="admin_bt_div">
                <table>
                    <tr>
                        <td>
                            <div  class="admin_div_unchicked">
                                <a href="{:U('systemset_01')}">出版公司</a>
                            </div>
                        </td>
                        <td>
                            <div class="admin_div_unchicked">
                                <a href="{:U('systemset_02')}">习题册</a>
                            </div>
                        </td>
                        <td>
                            <div style="color: #c0b9c8"   class="admin_div_unchicked">
                                知识点
                            </div>
                        </td>
                        <td>
                            <div class="admin_div_unchicked">
                                <a  href="{:U('systemset_04')}">图片内容</a>
                            </div>
                        </td>
                        <td>
                            <div class="admin_div_unchicked admin_list">
                                <a href="{:U('adminindex/index')}">返回</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="row" style="height: 43px;"></div>
    <div class="row framelist" style="min-height: 26px;border: 1px solid #eaf0f2;text-align: right;font-size: 12px;padding-top: 4px;padding-bottom: 4px;padding-right: 28px;">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span><u><a  href="javascript:void(0)">返回</a></u></span>
    </div>
    <div class="row" style="height: 15px;"></div>
    <div class="row">
        <div class="col-xs-6" style="height: 660px;border-right:1px solid #C3C3C3;">
            <div class="row sysset_blue" style="clear: left;"><span  id="chapter_part_msg" style="font-size: 16px;margin-left: 8%;"><b>知识点列表</b></span>><input  type="text" placeholder="出版社名称" class="input_css" style="margin-left:200px;"> <input   type="text" placeholder="习题册名称"  class="input_css"> <input   type="text" placeholder="知识点"  class="input_css"></div>
            <hr style="margin-left: 6%;">
            <div class="row" style="height: 250px; overflow-y: auto;padding-left: 8%;padding-right: 2%">
               
            <table style="width: 100%;margin-left:0px; margin-right:0px;border: 1px;" class="sysset_msgtable" >
            <tr>
                <th>序号</th><th>知识点</th><th>出版社</th><th>习题册</th><th>时间</th><th>操作</th>
            </tr>
            <tr class="change">
                <td >1<input type="hidden" value="{$testdata.id}"></td><td >知识点</td><td>出版社</td><td>习题册</td><td>2019-01-12 12:20</td><td><a href="{:U('delpublicsub',array('id'=>$testdata[id]))}">删除</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('test_whole02',array('filesernum'=>$testdata[filesernum],'kind'=>'school','oldstatus'=>'0'))}">冻结/启动</a></td>
            </tr>
        	</table>
              
              
                <input id="part_begin" type="hidden" value="1">
                <div id="part_page_a" class="row"><div class="result page" style="margin-left: 20px;margin-top: 0px;"><a onclick="pre_sub('part')" href="javascript:void(0)">上一页</a><a style="margin-left: 4px;"><span id="part_begin_page">1</span>/<span id="part_page_sum">4</span></a><a style="margin-left: 4px;" onclick="next_sub('part')" href="javascript:void(0)">下一页</a></div></div>
   
               
            </div>

        </div>

        <div class="col-xs-6" style="height: 660px;border-right:1px solid #C3C3C3;">
            <div class="row sysset_blue" style="clear: left;"><span style="font-size: 16px;margin-left: 8%;"><b>添加新知识点</b></span><span style="margin-left: 62%"></span><a id="questiontypes_ok" onclick="newquestiontypesdata('questiontypes')"  href="javascript:void(0)">Add</a></div>
            <hr style="margin-left: 6%;">
            <div class="row" style="height: 600px; overflow-y: auto;padding-left: 8%;padding-right: 2%">

                <div class="sysset_msgli" id="questiontypes_msgli" >
                      <ol>
                        <li >
                           <span >习题册名称：</span> <input id="name" id="name"   type="text">
                        </li>
                        <li >
                            <span class="sysset_marginleft28">出版社：</span>
                            <select id="publishid">
                                <option value ="0">未选择</option>
                                <foreach name="publishlist" item="item">
                                <option value="{$item.id}">{$item.name}</option>
                                </foreach>
                            </select>
                        </li>
                         <li >
                            <span class="sysset_marginleft28">习题册和书号：</span>
                            <select id="exerciseid">
                                <option value ="0">未选择</option>
                                <foreach name="exerciselist" item="item">
                                <option value="{$item.id}">{$item.name}+{$item.booknumber}</option>
                                </foreach>
                            </select>
                        </li>
                             
                        <li>
                            <span  class="sysset_marginleft28" >分类：</span> 
                          <select id="classify">
                                <option value ="0">未选择</option>
                                <foreach name="classlist" item="item">
                                <option value="{$item.id}">{$item.name}</option>
                                </foreach>
                            </select>
                        </li>
               
                        <li >

                            <span >收费方式：</span>
                            <select id="moneycount">
                            <option value ="0">免费</option>
                            <option value ="1">收费</option>
                            <option value ="2">支付码</option>
                           </select>
                        </li>
                        <li >
                            <span  class="sysset_marginleft28">费用：</span> <input id="price" name="price"  required="required"  type="text" value="">
                        </li>
                      <li >

                            <span >发布方式：</span>
                            <select id="method">
                            <option value ="1">发布</option>
                            <option value ="2">不发布</option>
                            <option value ="3">空知识点不发布</option>
                           </select>
                        </li>
                        <li >
                            <span >其他说明：</span> <input id="other" id="other"  required="required"  type="text" value="">
                        </li>
                        <li>
                           <input style="margin-top:60px;margin-left:120px;background-color:transparent;border:1px solid #e3e3e3;width:70px;" type="button"  value="确认">
                           <input style="margin-left:30px;background-color:transparent;border:1px solid #e3e3e3;width:70px;" type="button"  value="取消">
                        </li>
                       
                    </ol>
                </div>

            </div>

        </div>
    </div>


</div>


</body>
<script type="text/javascript">

     

</script>
</html>