<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>好助教下载页面</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
	<script src="__PUBLIC__/jquery/jquery.min.js"></script>
	<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/stu.css"/>



</head>
<body class="" style="background-color: #FFFFFF;width: 100%;">
<div id="answerdiv" onclick="answerdivsub()" style="width: 100%;min-height: 80px;border:1px;position: absolute;z-index: 2;top:30%;display: none;">
	<img id="preanswerimg" style="width: 40px;height: 40px;"><img id="answerimg" style="width: 90%;margin-left: 5%;border: 1px solid #000000;" src="">
</div>
	<div>
		<div class="row title_class">
			<div class="col-xs-4"><a style="color:white;padding-left:40px;">好助教习题下载页面</a></div>
			<div class="col-xs-3  title_font_middle " style="text-align:right;" ><if condition="empty($realname)"><input id="username" type="text" placeholder="用户名" autocomplete="off"  style="font-size:13px;border:0px;border-radius:4px;text-align:center;color:#000000;"> </if></div>
          	<div class="col-xs-3  title_font_middle " style="text-align:left;"  ><if condition="empty($realname)"><input id="pwd" type="password" placeholder="密码" autocomplete="off"  style="font-size:13px;border:0px;border-radius:4px;text-align:center;color:#000000;"> </if></div>
			<div class="col-xs-2">
			<a id='button1' href="javascript:void(0)" style="color:white;" onclick="loadsub()">
			<if condition="!empty($realname)"> {$realname} <else /> 登录 </if>
			</a>
			<if condition="!empty($realname)">  <a id='button2' onclick="logout()"  href="javascript:void(0)"  style="color:white;margin-left:10px;">注销</a></if>
			</div>
		</div>
		<div class="row parent_nav">
        
		<div class="col-xs-3" >
          <select id="testkind" class="blackselect" style="text-align:center;" onchange="search();">
					<option value="1">班级原始错题{$mytesttotalInfo}</option> 
					<option value="2">个人班级错题{$stutotalInfo}</option>
					<option value="3">知识点习题{$stumytotalInfo}</option>
                  	<option value="4">知识点错题{$mistakestotalInfo}</option>
           			<option value="5">个人知识点错题{$pertotalInfo}</option>
          </select>
		</div>
         <div class="col-xs-3">
			 <select id="download" class="blackselect" style="text-align:center;" onchange="search();">
					<option value="0">下载状态</option>
					<option value="1">未完成</option>
					<option value="2">已完成</option>
           </select>
		</div>	
		<div class="col-xs-3">
           <select id="subjectid" class="blackselect" style="text-align:center;" onchange="search();">
					<option value="0">科目</option>
					<option value="1">数学</option>
					<option value="2">语文</option>
           </select>
		</div>
		<div class="col-xs-3">
			 <select id="grade" class="blackselect" style="text-align:center;" onchange="search();">
				<option value="0">年级</option>
				<option value="23">初一</option>
                <option value="24">初二</option>
                <option value="25">初三</option>
           </select>
		</div>	
          
          
		</div>
		<div class="row">
        <div class="col-xs-12" style="padding-left: 0px;padding-right: 0px;height: 532px;overflow-x: auto;">
			<ol id="list1" style="list-style-type:none;font-size: 15px;margin-left:30px;margin-right:30px;padding-top: 10px;">
			
             </ol>
          <div id="downdiv1"  style="width: 100%;height: 40px; text-align: center;"><a onclick="prepage();" href="javascript:void(0)">上一页</a>（<span id="nowpage">1</span>/<span id="pagenum">0</span>）<a onclick="nextpage();"  href="javascript:void(0)">下一页</a></div>
		
			
         
          
        </div>
		</div>
	</div>
<div class="modal fade" id="myModal01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:10px;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel" style="text-align: center;">
				本题答案及解析					</h4>
			</div>
			<div class="modal-body">
				<p>答案：C</p>
				<p>主要是考察完形填空方面的内容，同学们要十分注意。本题错误率达到60%。</p>
			</div>
		
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
	<input type="hidden" value="{$testarr}" id="testarrid">
	<input type="hidden" value="0" id="status">
	<input id="pagelength" type="hidden" value="10">
	<input type="hidden" value="{$userid}" id="userid">
<script>

	$(function(){	
			var nowpage=1;
			var pagelength=$('#pagelength').val();
			var userid=$('#userid').val();
			var kind=$('#testkind').val();
			
			var finish=$('#finishstatus').val();  
			var subjectid=$('#subjectid').val();  
			var grade=$("#grade").val();
			var download=$("#download").val();
			
			testdata(userid,nowpage,pagelength,kind,finish,subjectid,grade,download);     
	})

	function nextpage()
	{
		var nowpage=$('#nowpage').text();
		var maxnum=$('#pagenum').text();
		var userid=$('#userid').val();
		var pagelength=$('#pagelength').val();
		var kind=$('#testkind').val();
		
		var finish=$('#finishstatus').val();  
		var subjectid=$('#subjectid').val();  
		var grade=$("#grade").val();
		var download=$("#download").val();
		
		nowpage=nowpage*1+1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
		 
		$('#list1').html('');
		testdata(userid,nowpage,pagelength,kind,finish,subjectid,grade,download);
	}
	
	function prepage()
	{
		var nowpage=$('#nowpage').text();
		var maxnum=$('#pagenum').text();
		var userid=$('#userid').val();
		var pagelength=$('#pagelength').val();
		var kind=$('#testkind').val();
		
		var finish=$('#finishstatus').val();  
		var subjectid=$('#subjectid').val();  
		var grade=$("#grade").val();
		var download=$("#download").val();
		
		nowpage=nowpage*1-1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
 
		$('#list1').html('');
		testdata(userid,nowpage,pagelength,kind,finish,subjectid,grade,download);
	}


  
	function answersub(id)
	{
		var id=$('#'+id).attr('name');
		$.ajax({
			url:"{:U('answersql')}",
			data:{id:id},
			dataType:'text',
			type:'post',
			success:function(re){
				if(re!=0)
				{
				
				}
	
			}
		})
	}
  
  	function loadsub()
	{
      var username=$('#username').val();
      var pwd=$('#pwd').val();
      
		$.ajax({
			url:"{:U('loadsubphp')}",
			data:{username:username,pwd:pwd},
			dataType:'json',
			type:'post',
			success:function(re){
				if(re!=0)
				{
                  var realname=re['realname'];
                  loadmsg(1,realname);
				  location.reload();
				}else
                {
                  alert("用户名或密码错误！！");
                }
			}
		})
	}
  	
  	function logout(userid)
  	{
  		$.ajax({
			url:"{:U('logout')}",
			data:{userid:userid},
			dataType:'json',
			type:'post',
			success:function(re){
				if(re!=0)
				{
				  alert('注销成功');
				  location.reload();
				}else
                {
                  alert("用户名或密码错误！！");
                }
			}
		})
  	}
  
  function loadmsg(kind,msg)
  {
    if(kind==1)
    {
    $('#status').val(1);
    $('#button1').html(msg);
    $('#button2').css('display','');
    $('#username').css('display','none');
    $('#pwd').css('display','none');
    }
    else
    {
    $('#status').val(0);
    $('#button1').html('登录');
    $('#button2').css('display','none');
    $('#list1').html('');
    $('#username').css('display','');
    $('#pwd').css('display','');
    $('#username').val('');
    $('#pwd').val('');
    }
    
    
  }

	function answerdivsub()
	{
		$('#answerdiv').css('display','none');
	}
	function testtopdf()
	{
//		var testarr=$('testarrid').val();
//		$.ajax({
//			url: "{:U('papertopdf')}",
//			type: 'POST',
//			async:false,
//			data: {testarr:testarr},
//			dataType: 'json',
//			success: function (re) {
//				alert('下载成功！！');
//
//
//
//			}
//		})
	}
	
	function search()
	{
		var finish=$('#finishstatus').val();  
		var subjectid=$('#subjectid').val();  
		var grade=$("#grade").val();
        var kind=$('#testkind').val();
        var download=$("#download").val();
      
		var pagelength=$('#pagelength').val();
		var userid=$('#userid').val();
		$('#list1').html('');
		$('#nowpage').text(1);
 
		nowpage=1;
		testdata(userid,nowpage,pagelength,kind,finish,subjectid,grade,download);
	}
	
	function testdata(userid,nowpage,pagelength,kind,finish,subjectid,grade,download)
	{
 		var ckind=kind;
		$.ajax({
			url:"{:U('phpdata')}",
			data:{userid:userid,nowpage:nowpage,pagelength:pagelength,kind:kind,subjectid:subjectid,finish:finish,grade:grade,download:download},
			datatype:'json',
			type:'post',
			success:function(re){
				var testlist=eval("("+re+")");
				var addhtmlmsg = '';
				var beginhtml = $('#list1').html();
				var mylength = testlist['length'];
				var testid = '';
				var pagenum=testlist['pagenum'];
				$('#pagenum').text(pagenum);
				$('#nowpage').text(nowpage);
				var kind=testlist['kind'];
				$('#totalinfo').html(testlist['totalinfo']);
				 
				for (var i = 0; i < mylength; i++) {
					j=i+1;
					testid=testlist[i]['id'];
					//var ahtml='/index.php/Home/Student/testchecked0102/testid/'+testid+'/userid/'+$('#userid').val()+'/paper_name/'+testlist[i]['paper_name']+'/username/'+$('#username').val()+'/realname/'+$('#realname').val()+'/subjectid/'+testlist[i]['subjectid']+'/testkind/stu'+'.html';
					var ahtml='javascript:void(0)';
					//不同类型下的 下载地址
					if(ckind==1) {
						testkind=0;
					}
					if(ckind==4) {
						testkind=1;
					}
					var aahtml='/index.php/Home/Student/phpmanagepaperdetailpdf/testid/'+testid+'/outkind/D/paper_name/'+testlist[i]['paper_name']+'/testkind/'+testkind;
					var bbhtml='/index.php/Home/Student/php_managepaperanswerpdf/testid/'+testid+'/outkind/D/paper_name/'+testlist[i]['paper_name']+'/testkind/'+testkind;
                    
					if(ckind==2 || ckind==5) {
						var aahtml='/index.php/Home/Student/phpmanagelistdownloadpdf/testid/'+testid+'/outkind/D/paper_name/'+testlist[i]['paper_name']+'/testkind/'+testkind;
						var bbhtml='/index.php/Home/Student/phpmanagelistdownloadanswerpdf/testid/'+testid+'/outkind/D/paper_name/'+testlist[i]['paper_name']+'/testkind/'+testkind;
					}
					
					if(ckind==3) {
						var aahtml='/index.php/Home/Student/php_mykeymanagepaperdetailpdf/testid/'+testid+'/outkind/D/paper_name/'+testlist[i]['paper_name']+'/testkind/'+testkind;
						var bbhtml='/index.php/Home/Student/php_mykeymanagepaperanswerpdf/testid/'+testid+'/outkind/D/paper_name/'+testlist[i]['paper_name']+'/testkind/'+testkind;
					}
					
					
					addhtmlmsg=addhtmlmsg+'<li><div class="row"><div class="col-xs-9"><a style="color: #000000;" href="'+ahtml+'">'+testlist[i]['num']+'.'+testlist[i]['paper_name']+'</a><span style="margin-left:5%;"> '+testlist[i]['creatime']+'</span></div><div class="col-xs-3"><a href="'+aahtml+'" style="color: #000000;margin-left:15%;">习题下载</a><a  href="'+bbhtml+'"  style="margin-left: 15px;color: #000000;">答案下载</a></div></div></li><hr>';
					$('#list1').html(beginhtml + addhtmlmsg);
					j++;
				}

			}

		})
	}
	

</script>
</body>
</html>
