<!DOCTYPE html>
<html class="login-bg">
<head>
    <title>CTB-CODE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  

      <script src="__PUBLIC__/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/js/jquery.qrcode.min.js"></script>
  
  
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/systemset.css"/>
  	<script src="__PUBLIC__/js/public.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
		ol{list-style-type:none;counter-reset:sectioncounter;width:90%;}  
		ol li:before {  
    		content:counter(sectioncounter) ".";   
    		counter-increment:sectioncounter;  
   
 			} 
      ol li a{
      	color:#000000;
      }
      ol li{
        margin-bottom:10px;
      }
      
      .red_class{
      	color:red;
      }
      
      .black_class{
        color:black;
      }
      
      .box_relative {
  		position: absolute;
  		left: 300px;
  		top: 0px;
        width:100px;
        height:100px;
        z-index:1;
        background:red;
	}
      
    </style>
</head>
<body>
<div id="qrcodeTable" style="display:none;"></div>
<img class="showImg"  style="display:none;">
<div class="container" style="width: 100%;">
	<div class="row border_bottom" style="height:100px;">
      		<div class="col-xs-6" style="padding-top:16px;padding-left:30px;">
      			 <table>
                	<tr>
                    <td><a href="{:U('Adminindex/index')}"><img class="img-circle" style="width: 65px;height: 65px;" src="__PUBLIC__/img/admin_radio.png"></a></td>

                    <td class="admin_title" style="padding-left: 20px;">
                      <span style="font-size: 24px;"><a onclick="mycodesub()">二维码管理系统</a></span>
                        <br>
                        <span id="nowtimeid" class="admin_sec_title">当前日期：{$nowtime}</span>
                    </td>
                </tr>
            	</table>
      		</div>
     		<div class="col-xs-6" style="padding-top:60px;padding-left:30%;">
              	<label ><input type="radio" value="1" name="paper_kind"  checked="checked"><span style="margin-left: 4px;">动态二维码</span> 
                  	   <input name="paper_kind"  value="0" style="margin-left: 10px;" type="radio"><span style="margin-left: 4px;">普通二维码</span>
                </label>
      		</div>
  	</div> 
  	<div class="row" style="min-height:750px;">
      <div class="col-xs-3  border_right" style="min-height:750px;">
        <div class="row  border_bottom" style="height:60px;">
        	<div class="col-xs-6" style="text-align:center;margin-top:20px;">出版社</div>
        	<div class="col-xs-6" style="padding-left:0px;margin-top:16px;"><input type="text" name="publishname"  onblur="searchpublish()" id="publishname"  placeholder="出版社名称" style="width:80%;border:0;border-bottom:1px solid #000000;text-align:center;"></div>
        </div>
        <div id="publishlist" class="row" style="padding-top:20px;">
         
        </div>
       
        <div class="row border_top" style="padding-left:90px;margin-top:40px;padding-top:10px;"><a onclick="prepage();" href="javascript:void(0)">上一页</a><a style="margin-left: 4px;"><span id="nowpage">1</span>/<span id="pagenum">0</span></a><a style="margin-left: 4px;" onclick="nextpage()" href="javascript:void(0)">下一页</a></div>  

      </div>
      <div class="col-xs-9">
          <div class="row border_bottom" style="height:60px;">
            <div class="col-xs-4">
              <div class="row">
            	<div class="col-xs-6" style="margin-top:17px;padding-left:30px;"><input type="text" name="searchcodename"  onblur="searchcodename()" id="searchcodename"   placeholder="二维码名称" style="width:60%;border:0;border-bottom:1px solid #000000;"></div>
                <div class="col-xs-6" style="text-align:left;margin-top:24px;"><a id="codemsg" onclick="addcode()">添加新二维码</a></div>
              </div>
            </div>
            <div class="col-xs-4">
            	<input type="text" name="searchexercisename" id="searchexercisename" onblur="searchexercise();" placeholder="习题册" style="width:40%;border:0;margin-top:18px;border-bottom:1px solid #000000;margin-left:14px;background:#ffffff;text-align:center;">
            </div>
            <div class="col-xs-4" style="padding-top:20px;">
              <span>免费使用试卷</span>	<span style="margin-left:40%;"><a href="javascript:void(0)"  onclick="updatasub()">确定</a></span>
            </div>
          </div>
      	  <div class="row" style="min-height:690px;">
            <div class="col-xs-4 border_right"  style="min-height:690px;">
              
              <div  class="row border_bottom" style="height:26px;padding-left:20px;padding-top:2px;"><b><span id="publishnametitle">出版社</span></b></div>
              
              <div id="adddiv" class="row" style="display:none;">
                <table style="margin-left:10%;width:80%;height:180px;border-bottom:1px solid #000000;">
                  <tr>
                    <td rowspan="2" style="width:40%;"><img  style="width: 80px;height: 80px;margin-left:10px;" src="__PUBLIC__/img/codesample.png"></td>
                    <td style="background:#fbfbfb;width:60%;">
                    	<input id="code_name" type="text" value="" placeholder="二维码名称" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;background:#fbfbfb;">
                      	<input id="code_note" type="text" value="" placeholder="备注内容" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;margin-top:8px;background:#fbfbfb;">
                        <input id="code_price" type="text" value="" placeholder="单价" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;background:#fbfbfb;margin-top:8px;">
                    </td>
                  </tr>
                  <tr>
                    <td style="background:#fbfbfb;width:60%;text-align:center;padding-left:60px;">
                      
                      <span><a href="javascript:void(0)" onclick="addCodeSub()">确认</a></span>
                    </td>  
                  </tr>
                </table>
              </div>
              <div id="codecontent" class="row" style="height:600px;overflow-y:auto;">
              
              </div>
              <div class="row" style="padding-left:90px;margin-top:30px;"><a onclick="prepagecode();" href="javascript:void(0)">上一页</a><a style="margin-left: 4px;"><span id="nowpagecode">1</span>/<span id="pagenumcode">0</span></a><a style="margin-left: 4px;" onclick="nextpagecode()" href="javascript:void(0)">下一页</a></div> 
            </div>
          	<div class="col-xs-4 border_right"  style="min-height:690px;">
              <div  class="row border_bottom" style="height:26px;padding-left:20px;padding-top:2px;"><b><span id="exercisename">当前选择的习题册</span></b></div>
              <div class="row border_bottom" style="height:120px;padding-left:20px;padding-top:30px;">
                <b><span id="choose_item"></span></b><br><br>
                <span id="choose_test"></span>
                <span id="choose_key"></span><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span><a id="delmsg" onclick="clearsub()"></a></span>  
              </div>
              <div id="exerciselist" class="row" style="padding-top:20px;">
                       
              </div> 
              
              <div class="row" style="padding-left:90px;margin-top:30px;"><a onclick="prepageexercise();" href="javascript:void(0)">上一页</a><a style="margin-left: 4px;"><span id="nowpageexercise">1</span>/<span id="pagenumexercise">0</span></a><a style="margin-left: 4px;" onclick="nextpageexercise()" href="javascript:void(0)">下一页</a></div> 
              
            </div>
            
            
          	<div class="col-xs-4  border_right"  style="min-height:690px;">                    
               <div class="row">
                   <div class="col-xs-12" style="height:40px;width:100%;">
                       <div class="row  border_bottom" style="text-align:center;">
                        <div name="testdiv" class="col-xs-6 border_right" style="background:#f2f6f6;height:40px;"><span style="margin-top:10px;display:block;" id="allpaper">试卷</span></div>
                        <div name="keydiv"  class="col-xs-6" style="height:40px;"><span style="margin-top:10px;display:block;" id="allkey">知识点</span></div>
                      </div>
                     
                     <div id="paperalllist" class="row" style="height:650px;padding-top:20px;overflow-y:scroll;">
                    
                       </div>
                       
                       <div id="key_paperalllist" class="row" style="display:none;height:650px;padding-top:20px;overflow-y:scroll;">
                         
                     </div>
                 		
                   </div>
               </div>  
            </div>
            
            
      	</div>  
 	 </div> 
  	 </div>
</div>
<input id="pagelength" name="pagelength" type="hidden" value="4">
<input id="selectedpublishname" name="selectedpublishname" type="hidden" >


  <input id="codeoper" type="hidden" value="1">
  <input id="publishid" type="hidden" value="0">
  <input id="exerciseid" type="hidden" value="0">
  <input id="codeid" type="hidden" value="0">
  <input id="test_arr" type="hidden" value="0">
  <input id="key_arr" type="hidden" value="0">
<script>
    $(document).ready(function(){
    	var nowpage=1;
    	var pagelength=$('#pagelength').val();
    	var keywords=$("#publishname").val();
    	
    	//页面变量初始化
    	$("#publishid").val('');
    	$("#exerciseid").val('');
    	$("#free_test_arr").val('');
    	$("#free_key_arr").val('');
    	$("#codeid").val('');
    	
    	person_sql_publish(nowpage,pagelength,keywords);
    })
  
     $("input[type='radio']").on("change",function(){
     window.location.href="Code_02.html"; 
	})
  
  	function addcode()
 	{
      if($('#codeoper').val()==1)
      {
        $('#adddiv').css('display','');
        $('#codecontent').css('display','none');
        $('#codemsg').text('取消添加');
        $('#codeoper').val(0);
      }
      else
      {
        $('#adddiv').css('display','none');
        $('#codecontent').css('display','');
        $('#codemsg').text('添加新二维码');
        $('#codeoper').val(1);
        codeList();
      }
    	
 	}
  function publishsub(id)
  {
    var name=$('#'+id).attr('publishname');
    $('#publishname').text(name);
    $('#selectedpublishname').val(name);
    $('#publishid').val(id);
    
    $('#exercisediv').html('');
    $('#exercisename').text('');
    $('#codeid').val('');
    $('#paperalllist').html('');
    $('#key_paperalllist').html('');
    $('#allpaper').text('试卷');
    $('#allkey').text('知识点');
    clearsub();
    
    $("#exerciselist").html('');
    $("#pagenumexercise").text(0);
    
	var nowpage=1;
	var pagelength=$('#pagelength').val();
	var keywords=$("#publishname").val();
    codeList(id,nowpage,pagelength,keywords);
  }
  

  
  function addCodeSub()
  {
    	if($('#publishid').val()==0)
    	{
          alert('请选择用户！！');
    	  return;
    	}
    
    	var publishid=$('#publishid').val();
    	var code_name=$('#code_name').val();
    	var code_note=$('#code_note').val();
    	var code_price=$('#code_price').val();
    	var code_num=randomNumber();
    
    	if(code_name=='')
        {
          alert('二维码名称不能为空！！');
          return;
        }
    
    	if(isNumber(code_price)==false)
   		 {
      		alert('单价输入错误');
      
     		 return;
      
   		 } 
    	$.ajax({
		url:"{:U('phpaddCodeSub')}",
		data:{code_name:code_name,code_note:code_note,code_price:code_price,code_num:code_num,publishid:publishid},
		datatype:'json',
		type:'post',
		success:function(re){
          if(re>0)
          {
            alert('二维码添加成功！！');
            $('#code_name').val('');
    	    $('#code_note').val('');
    	    $('#code_price').val('');
            var num=$('#span'+publishid).text();
            num=num*1+1;     
            $('#span'+publishid).text(num);
          }
            	
        }
       })
  }
  
  function codeList(publishid,nowpage,pagelength,keywords)
  {
 
      $.ajax({
		url:"{:U('phpcodeList')}",
		data:{publishid:publishid,pagelength:pagelength,keywords:keywords,nowpage:nowpage},
		datatype:'json',
		type:'post',
		success:function(re){
          $('#codecontent').html('');
          
          re=eval("("+re+")");
          var testlist=re.list;
          var count=re['length'];
          var html='';
          var num=0;
      	 
          for(var i=0;i<count;i++)
          {
            num=i+1;
            html=html+ '<div class="border_bottom" style="padding-left:20px;padding-right:20px;padding-bottom:20px;margin-top:20px;">';
            html=html+ '<span><b><a href="javascript:void(0)" onclick="exerciseList(this)" codename='+testlist[i]['codename']+'  codeid='+testlist[i]['id']+' style="color:#000000;">'+num+'.'+testlist[i]['codename']+'</a></b></span><br><span style="margin-top:10px;display:block;margin-bottom:10px;">备注：'+testlist[i]['codenote']+'</span>';
            html=html+ '<span style="margin-left:20px;display:block;margin-bottom:10px;">'+testlist[i]['creattime']+'&nbsp;&nbsp;&nbsp;&nbsp;¥'+testlist[i]['price']+'</span>';
            html=html+ '<span  style="margin-left:120px;"><a>删除</a></span><span  style="margin-left:20px;"><a>冻结</a></span><span  style="margin-left:20px;"><a>编辑</a></span><span  style="margin-left:20px;"><a href="javascript:void(0)" codename='+testlist[i]['codename']+' codemsg='+testlist[i]['codemsg']+' onclick="mycodesub(this)">下载</a></span> </div>';      
          } 
          $('#codecontent').append(html);
          
          //第二列页面标题
          $("#publishnametitle").text(re['publishname']+"（"+re['count']+"）");
          //页码
          $('#pagenumcode').text(re['pagenum']);
		  $('#nowpagecode').text(nowpage);
        }
       })
     
  }
  
  
  
    $("div[name='testdiv']").bind("click",function(){
     
     //alert('test');
     $("div[name='testdiv']").css('background','#f2f6f6');
     $("div[name='keydiv']").css('background','#ffffff');
     
     $("#paperalllist").css('display','');
     $("#choose_test").css('display','');
     $("#key_paperalllist").css('display','none');
     $("#choose_key").css('display','none');
     
   })
  
     $("div[name='keydiv']").bind("click",function(){
       
       //alert('key');
      $("div[name='testdiv']").css('background','#ffffff');
      $("div[name='keydiv']").css('background','#f2f6f6');
       
     $("#paperalllist").css('display','none');
     $("#choose_test").css('display','none');
     $("#key_paperalllist").css('display','');
     $("#choose_key").css('display','');
   })
  
  
  
  function exerciseList(item)
  {
    
	  var codename=$(item).attr('codename');
	  var codeid=$(item).attr('codeid');
	  
	  //获取二维码表的信息
	   $.ajax({
			url:"{:U('detailexercisebycodeid')}",
			data:{codeid:codeid},
			datatype:'json',
			type:'post',
			success:function(re){
				var re=eval("("+re+")");
				$('#choose_item').text(re.name);
	        }
	    });
	  
	  $('#codeid').val(codeid);
	  $('#exercisename').text(codename);
	  
	  
	  //习题册数据获取
	  var nowpage=1;
      var pagelength=$('#pagelength').val();
      var keywords=$("#exercisehname").val();
      var publishid=$("#publishid").val();
      person_sql_exercise(nowpage,pagelength,keywords,publishid);
     
  }
  
  function choose_exerciseid(item)
  {
    var exerciseid=$(item).attr('exerciseid');
    var exercisename=$(item).attr('exercisename');
    $('#exerciseid').val(exerciseid);    
    detailexerciseinfo();
    $.ajax({
		url:"{:U('phpChooseExercise')}",
		data:{exerciseid:exerciseid},
		datatype:'json',
		type:'post',
		success:function(re){
          
        //  alert(re);
          
   
          var testlist=eval("("+re+")");
          var test_num=testlist['test_num'];
          var key_num=testlist['key_num'];
         
          $('#choose_item').text(exercisename);
          $('#choose_test').text('试卷('+test_num+')');
          $('#choose_key').text('知识点('+key_num+')');
          $('#delmsg').text('删除');
 
          
          
        }
    }
   )
  //  alert(exerciseid);
  }
  
  
    //点击习题册  显示对应的试卷和知识点
	function detailexerciseinfo()
	{
     // var id=123;
      var id=$('#exerciseid').val();
	    $.ajax({
	        url:"{:U('detailexerciseinfo')}",
	        type: 'POST',
	        data: {exerciseid:id},
	        dataType: 'json',
	        success: function(re) {
				
				$('#allpaper').text('试卷（'+re['papernum']+'）');
				$('#allkey').text('知识点（'+re['keynum']+'）');
				
				paperlist=re['paperlist'];
				//paper
				addhtmlmsg='<ol>';
				for (var i = 0; i<re['papernum']; i++) 
	            {
					addhtmlmsg=addhtmlmsg+'<li><a name="test" testid='+paperlist[i]['id']+' onclick="itemsub(this)" href="javascript:void(0)">'+paperlist[i]['paper_name']+'</a></li>';
	            }
				addhtmlmsg=addhtmlmsg+'</ol>';
				$("#paperalllist").html(addhtmlmsg);
              
              	keylist=re['keylist'];
				//key
				addhtmlmsg='<ol>';
				for (i = 0; i<re['keynum']; i++) 
	            {
					addhtmlmsg=addhtmlmsg+'<li><a name="key" keyid='+keylist[i]['id']+'  onclick="itemsub(this)"  href="javascript:void(0)">'+keylist[i]['paper_name']+'</a></li>';
	            }
				addhtmlmsg=addhtmlmsg+'</ol>';
				$("#key_paperalllist").html(addhtmlmsg);
	        }
	    });
	}
  //文字颜色
  function itemsub(item)
  {
    if($(item).hasClass('red_class')){
      $(item).attr("class", "black_class");
    }
    else
    {
      $(item).attr("class", "red_class");
    }
    
    var testmsg='';
    var keymsg='';
    var i=0;
        $("a[name='test']").each(function(){
          if($(this).hasClass('red_class'))
          {
          if(i==0)
          {
            testmsg=$(this).attr('testid');
            i=1;
          }
          else
          {
            testmsg=testmsg+','+$(this).attr('testid');
          }
          }  
        })
    
    	i=0;
    
        $("a[name='key']").each(function(){
          if($(this).hasClass('red_class'))
          {
          if(i==0)
          {
            keymsg=$(this).attr('keyid');
            i=1;
          }
          else
          {
            keymsg=keymsg+','+$(this).attr('keyid');
          }
          }  
        })
    
    $('#test_arr').val(testmsg);
    $('#key_arr').val(keymsg);  
  }
  
  function clearsub(){
       $('#choose_item').text('');
       $('#choose_test').text('');
       $('#choose_key').text('');
       $('#delmsg').text('');
       $('#exerciseid').val('');
       $('#test_arr').val('');
       $('#key_arr').val('');
       $('#paperalllist').html('');
       $('#key_paperalllist').html(''); 
       $('#allpaper').text('试卷');
       $('#allkey').text('知识点');
  }
  
  function updatasub()
  {
    var codeid=$('#codeid').val();
    var exerciseid=$('#exerciseid').val();
    var test_arr=$('#test_arr').val();
    var key_arr=$('#key_arr').val();
    
    $.ajax({
	   url:"{:U('phpupdatacode')}",
	   type: 'POST',
	   data: {codeid:codeid,exerciseid:exerciseid,test_arr:test_arr,key_arr:key_arr},
	   dataType: 'json',
	   success: function(re) {
         if(re==1)
         {
           alert('添加成功!!');
         }
         else
         {
           alert('添加失败！！');
         }
            
        }
      })
    
    //alert(codeid+','+exerciseid+'/'+test_arr+'/'+key_arr);

  }
  
  
  function mycodesub(item)
  {
    
    var codename=$(item).attr('codename');
    var codemsg=$(item).attr('codemsg');
    
   // var mycode=$('#mycode').val();
    
    $('#qrcodeTable').qrcode({  //生成普通二维码
		         render    : "canvas",                //二维码生成方式
		         text    : codemsg , //二维码地址
		         width : "200",               //二维码的宽度
                 height : "200",			  //二维码的高度
                // src: 'zhcw.jpg' 
	}); 
    
    var type = 'png';
	var canvas = document.querySelector("#qrcodeTable").children[0]
	var imgData = canvas.toDataURL(type);
    
    
	type = type.toLowerCase().replace(/jpg/i, 'jpeg');
	var r = type.match(/png|jpeg|bmp|gif/)[0];
	var _fixType ='image/' + r;
    
    imgData = imgData.replace(_fixType,'image/octet-stream');
	$(".showImg").attr("src",imgData);
    
    var filename=codename+'.'+type;
    
    saveFile(imgData,filename);
    
  }

  	function saveFile(data, filename){
		var save_link = document.createElementNS('http://www.w3.org/1999/xhtml', 'a');
		save_link.href = data;
		save_link.download = filename;
				   
		var event = document.createEvent('MouseEvents');
		event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
		save_link.dispatchEvent(event);
	};
  
	//出版社函数
	function person_sql_publish(nowpage,pagelength,keywords)
    {

        $.ajax({
	        url:"{:U('php_publish_sql')}",
	        type: 'POST',
	        data: {nowpage:nowpage,pagelength:pagelength,keywords:keywords},
	        dataType: 'json',
	        success: function(re) {
	        	var testlist=re;
				var addhtmlmsg = '<ol>';
				var beginhtml = $('#publishlist').html('');
				var mylength = testlist['length'];
				var pagenum=testlist['pagenum'];
				
				$('#pagenum').text(pagenum);
				$('#nowpage').text(nowpage);
	
				for (var i = 0; i<mylength; i++) 
	            {
					j=i+1+(nowpage-1)*pagelength;
					addhtmlmsg=addhtmlmsg+'<li><a href="#" id="'+testlist[i]['id']+'" onclick="publishsub('+testlist[i]['id']+')" publishname='+testlist[i]['name']+' >'+testlist[i]['name']+'</a>('+testlist[i]['codenum']+')</li>';
					j++;
	            }
				addhtmlmsg=addhtmlmsg+'</ol>';
				$('#publishlist').html(addhtmlmsg);
	
	        }
	    });
    }
	
	 //出版社下一页
    function nextpage()
	{
		var nowpage=$('#nowpage').text();
		var maxnum=$('#pagenum').text();
		var pagelength=$('#pagelength').val();
		var keywords=$("#publishname").val();
		
		nowpage=nowpage*1+1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
		 
		$('#publishlist').html('');
		
    	person_sql_publish(nowpage,pagelength,keywords);
	}
	
    //出版社上一页
	function prepage()
	{
		var nowpage=$('#nowpage').text();
		var maxnum=$('#pagenum').text();
		var pagelength=$('#pagelength').val();
		var keywords=$("#publishname").val();
		
		nowpage=nowpage*1-1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
 
		$('#publishlist').html('');
		person_sql_publish(nowpage,pagelength,keywords)
	}
	
	//出版社搜索
	function searchpublish()
    {
    	var nowpage=1;
    	var pagelength=$('#pagelength').val();
    	var keywords=$("#publishname").val();
    	$('#publishlist').html('');
    	person_sql_publish(nowpage,pagelength,keywords);
    }
	
	//code下一页
	function nextpagecode()
	{
		var nowpage=$('#nowpagecode').text();
		var maxnum=$('#pagenumcode').text();
		var pagelength=$('#pagelength').val();
		var keywords=$("#searchcodename").val();
		var publishid=$("#publishid").val();
 
		nowpage=nowpage*1+1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
		 
		$('#codecontent').html('');
		
		codeList(publishid,nowpage,pagelength,keywords);
	}
		
	//code上一页
	function prepagecode()
	{
		var nowpage=$('#nowpagecode').text();
		var maxnum=$('#pagenumcode').text();
		var pagelength=$('#pagelength').val();
		var keywords=$("#searchcodename").val();
		var publishid=$("#publishid").val();
		
		nowpage=nowpage*1-1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
 
		$('#codecontent').html('');
		codeList(publishid,nowpage,pagelength,keywords);
	}
		
	//code搜索
	function searchcodename()
	{
    	var nowpage=1;
    	var pagelength=$('#pagelength').val();
    	var keywords=$("#searchcodename").val();
    	var publishid=$("#publishid").val();
    	
    	$('#codecontent').html('');
    	codeList(publishid,nowpage,pagelength,keywords);
	}
	
	//习题册搜索
	function searchexercise()
    {
    	var nowpage=1;
    	var pagelength=$('#pagelength').val();
    	var keywords=$("#searchexercisename").val();
    	var publishid=$("#publishid").val();
    	$('#exerciselist').html('');
    	person_sql_exercise(nowpage,pagelength,keywords,publishid);
    }
	
	//习题册列表
	function person_sql_exercise(nowpage,pagelength,keywords,publishid)
	{

	    $.ajax({
	        url:"{:U('php_exercise_sql')}",
	        type: 'POST',
	        data: {nowpage:nowpage,pagelength:pagelength,keywords:keywords,publishid:publishid},
	        dataType: 'json',
	        success: function(re) {
	        	var testlist=re;
	        	
				var addhtmlmsg = '';
				var mylength = testlist['length'];
				var pagenum=testlist['pagenum'];
				
				$('#pagenumexercise').text(pagenum);
				$('#nowpageexercise').text(nowpage);

				for (var i = 0; i<mylength; i++) 
	            {
					j=i+1+(nowpage-1)*pagelength;
					addhtmlmsg=addhtmlmsg+'<div class="border_bottom" style="padding-left:20px;padding-right:20px;padding-bottom:15px;margin-top:20px;"><span >'+j+'.<a style="color:#000000" href="#" onclick="detailexerciseinfo('+testlist[i]['id']+')"  publishname='+testlist[i]['name']+' ><b>'+testlist[i]['name']+'</b></a></span><br><span style="margin-top:10px;display:block;margin-bottom:10px;">备注：试卷（'+testlist[i]['papernum']+'），知识点（'+testlist[i]['keynum']+'）</span><br></div>';
					j++;
	            }
				$("#publishnameinfo").text(testlist['publishname']+'('+testlist['count']+')');
				$('#exerciselist').html(addhtmlmsg);
	        }
	    });
	}
	
	//习题册下一页
	function nextpageexercise()
	{
		var nowpage=$('#nowpageexercise').text();
		var maxnum=$('#pagenumexercise').text();
		var pagelength=$('#pagelength').val();
		var keywords=$("#exercisename").val();
		var publishid=$("#publishid").val();
		
		nowpage=nowpage*1+1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
		 
		$('#exerciselist').html('');
		
		person_sql_exercise(nowpage,pagelength,keywords,publishid);
	}
	
	
	//习题册上一页
	function prepageexercise()
	{
		var nowpage=$('#nowpageexercise').text();
		var maxnum=$('#pagenumexercise').text();
		var pagelength=$('#pagelength').val();
		var keywords=$("#exercisename").val();
		var publishid=$("#publishid").val();
		
		nowpage=nowpage*1-1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
 
		$('#exerciselist').html('');
		person_sql_exercise(nowpage,pagelength,keywords,publishid);
	}
	
	  
   	//点击习题册  显示对应的试卷和知识点
	function detailexerciseinfo(id)
	{
	   //把选中的exerciseid给予赋值
	   $("#exerciseid").val(id);
	   var publishid=$("#publishid").val();
	   
	    $.ajax({
	        url:"{:U('detailexerciseinfo')}",
	        type: 'POST',
	        data: {exerciseid:id},
	        dataType: 'json',
	        success: function(re) {
				
				$('#allpaper').text('试卷（'+re['papernum']+'）');
				$('#allkey').text('知识点（'+re['keynum']+'）');
				

				
				//试卷
				paperlist=re['paperlist'];
				//paper
				addhtmlmsg='<ol id="testol">';
				for (var i = 0; i<re['papernum']; i++) 
	            {
					addhtmlmsg=addhtmlmsg+'<li id="lipaper_'+paperlist[i]['id']+'"><a id="paper_'+paperlist[i]['id']+'" onclick="itemsub(this,'+paperlist[i]['id']+',1)" href="javascript:void(0)">'+paperlist[i]['paper_name']+'</a></li>';
	            }
				addhtmlmsg=addhtmlmsg+'</ol>';
				$("#paperalllist").html(addhtmlmsg);
				
				//知识点
				keylist=re['keylist'];
				addhtmlmsg='<ol id="keyol">';
				for (var i = 0; i<re['keynum']; i++) 
	            {
					addhtmlmsg=addhtmlmsg+'<li id="likey_'+keylist[i]['id']+'"><a id="key_'+keylist[i]['id']+'"  onclick="itemsub(this,'+keylist[i]['id']+',2)" href="javascript:void(0)">'+keylist[i]['paper_name']+'</a></li>';
	            }
				addhtmlmsg=addhtmlmsg+'</ol>';
				$("#key_paperalllist").html(addhtmlmsg);
				
				//练习册标题
				$("#exercisenameinfo").text(re.exerciseinfo.name);
			 
	        }
	    });
	    
	    //查找是否已经添加了二维码信息，如果有展示
		detailcodeinfo(publishid,id);
	}
   	
	  //根据出版社ID和练习册ID获取已经生成的二维码信息
    function detailcodeinfo(publishid,exerciseid)
    {
    	if(publishid && exerciseid) {
    		$.ajax({
				url:"{:U('detailcodemsg')}",
				data:{publishid:publishid,exerciseid:exerciseid},
				datatype:'json',
				type:'post',
				success:function(re){
			 
					if(re) {
						re=eval("("+re+")");
						$("#free_test_arr").val(re.free_test_arr);
						$("#free_key_arr").val(re.free_key_arr);
						$("#codename").val(re.codename);
						$("#codenote").val(re.codenote);
						$("#price").val(re.price);
						$("#endtime").val(re.endtime);
						$("#codeid").val(re.id);
						$("#codemsg").val(re.codemsg);
						
						//处理已经被选中的
						var newpaperAry =re.free_test_arr.split(",");
						for ( var i = 0; i <newpaperAry.length; i++){
						    $('#paper_'+newpaperAry[i]).attr("class", "red_class");
						    $('#lipaper_'+newpaperAry[i]).addClass("red_class");
						}
						var newkeyAry =re.free_key_arr.split(",");
						for ( var i = 0; i <newkeyAry.length; i++){
						    $('#key_'+newkeyAry[i]).attr("class", "red_class");
						    $('#likey_'+newkeyAry[i]).addClass("red_class");
						}
					}
		        }
		    });
    	}
    }
  
</script>
</body>
</html>