<!DOCTYPE html>
<html class="login-bg">
<head>
    <title>CTB-CODE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/systemset.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
		ol{list-style-type:none;counter-reset:sectioncounter;width:90%;list-style:none;}  
		ol li:before {  
    		content:counter(sectioncounter) ".";   
    		counter-increment:sectioncounter;  
   
 			} 
      ol li a{
      	color:#000000;
      }
      ol li{
        margin-bottom:10px;
      }
      
      .red_class{
      	color:red;
      }
      
      .black_class{
        color:black;
      }
      
      
    </style>
</head>
<body>
<div class="container" style="width: 100%;">
	<div class="row border_bottom" style="height:100px;">
      		<div class="col-xs-6" style="padding-top:16px;padding-left:30px;">
      			 <table>
                	<tr>
                    <td><a href="{:U('Adminindex/index')}"><img class="img-circle" style="width: 65px;height: 65px;" src="__PUBLIC__/img/admin_radio.png"></a></td>

                    <td class="admin_title" style="padding-left: 20px;">
                        <span style="font-size: 24px;">二维码管理系统</span>
                        <br>
                        <span id="nowtimeid" class="admin_sec_title">当前日期：{$nowtime}</span>
                    </td>
                </tr>
            	</table>
      		</div>
     		<div class="col-xs-6" style="padding-top:60px;padding-left:30%;">
              	<label><input type="radio" value="1" name="paper_kind"><span style="margin-left: 4px;">动态二维码</span> 
                  	   <input name="paper_kind"  value="0" style="margin-left: 10px;"  checked="checked" type="radio"><span style="margin-left: 4px;">普通二维码</span>
                </label>
      		</div>
  	</div> 
  	<div class="row" style="min-height:750px;">
      <div class="col-xs-3  border_right" style="min-height:750px;">
        <div class="row  border_bottom" style="height:60px;">
        	<div class="col-xs-6" style="text-align:center;margin-top:20px;">出版社</div>
        	<div class="col-xs-6" style="padding-left:0px;margin-top:16px;"><input type="text" name="publishname"  onblur="searchpublish()" id="publishname"  placeholder="出版社名称" style="width:80%;border:0;border-bottom:1px solid #000000;text-align:center;"></div>
        </div>
        <div id="publishlist" class="row" style="padding-top:20px;">
        	<ol>
              <li><a href="javascript:void(0)">清华大学出版社</a></li>
              <li><a>清华大学出版社</a></li>
              <li><a>北京市交通大学出版社有限公司（201）</a></li>
            </ol>
        </div>
       
        <div class="row border_top" style="padding-left:90px;margin-top:40px;padding-top:10px;"><a onclick="prepage();" href="javascript:void(0)">上一页</a><a style="margin-left: 4px;"><span id="nowpage">1</span>/<span id="pagenum">0</span></a><a style="margin-left: 4px;" onclick="nextpage()" href="javascript:void(0)">下一页</a></div>  

      </div>
      <div class="col-xs-9">
          <div class="row border_bottom" style="height:60px;">
            <div class="col-xs-4">
              <div class="row">
            	<div class="col-xs-6" style="margin-top:17px;padding-left:30px;"><input type="text" name="exercisename" id="exercisename" onblur="searchexercise();"  placeholder="练习册名称" style="width:60%;border:0;border-bottom:1px solid #000000;"></div>
                <div class="col-xs-6" style="text-align:left;margin-top:24px;"></div>
              </div>
            </div>
            <div class="col-xs-4">
            	<input type="text" value="" placeholder="习题册" style="display:none;width:40%;border:0;margin-top:18px;border-bottom:1px solid #000000;margin-left:14px;background:#ffffff;text-align:center;">
            </div>
            <div class="col-xs-4">
              	<span style="margin-top:20px;display:block;">二维码生成</span>
            </div>
          </div>
      	  <div class="row" style="min-height:690px;">
            <div class="col-xs-4 border_right"  style="min-height:690px;">
              <div  class="row border_bottom" style="height:26px;padding-left:20px;padding-top:2px;"><b><span id="publishnameinfo"></span></b></div>
              <div id="adddiv" class="row" style="display:none;">
                <table style="margin-left:10%;width:80%;height:180px;border-bottom:1px solid #000000;">
                  <tr>
                    <td rowspan="2" style="width:40%;"><img  style="width: 80px;height: 80px;margin-left:10px;" src="__PUBLIC__/img/codesample.png"></td>
                    <td style="background:#fbfbfb;width:60%;">
                    	<input type="text" value="" placeholder="二维码名称" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;background:#fbfbfb;">
                      	<input type="text" value="" placeholder="备注内容" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;margin-top:8px;background:#fbfbfb;">
                      <input type="text" value="" placeholder="单价" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;background:#fbfbfb;margin-top:8px;">
                    </td>
                  </tr>
                  <tr>
                    <td style="background:#fbfbfb;width:60%;text-align:center;padding-left:60px;">
                      
                      <span><a>确认</a></span>
                    </td>  
                  </tr>
                </table>
              </div>
              <div class="row">
                <div id="exerciselist">
	        
                </div>
                <div class="row" style="padding-left:90px;margin-top:30px;"><a onclick="prepageexercise();" href="javascript:void(0)">上一页</a><a style="margin-left: 4px;"><span id="nowpageexercise">1</span>/<span id="pagenumexercise">0</span></a><a style="margin-left: 4px;" onclick="nextpageexercise()" href="javascript:void(0)">下一页</a></div> 
              </div>
            </div>
            
            
                        
          	<div class="col-xs-4  border_right"  style="min-height:690px;">
               <div  class="row border_bottom" style="height:26px;padding-left:20px;padding-top:2px;"><b><span id="exercisenameinfo">练习册</span></b></div>
              
               <div class="row">
                   <div class="col-xs-12" style="height:40px;width:100%;">
                       <div class="row  border_bottom" style="text-align:center;">
                        <div name="testdiv" class="col-xs-6 border_right" style="background:#f2f6f6;height:40px;"><span style="margin-top:10px;display:block;" id="allpaper">试卷（0）</span></div>
                        <div name="keydiv"  class="col-xs-6" style="height:40px;"><span style="margin-top:10px;display:block;" id="allkey">知识点（0）</span></div>
                      </div>
                     
                     <div id="paperalllist" class="row" style="height:650px;padding-top:20px;overflow-y:scroll;">
                     <ol id="testol">
           				  </ol>
                       </div>
                       
                       <div id="key_paperalllist" class="row" style="display:none;height:650px;padding-top:20px;overflow-y:scroll;">
                          <ol id="keyol">
           				  </ol>
                     </div>
                 		
                   </div>
               </div>  
            </div>
            
          	<div class="col-xs-4 border_right"  style="min-height:690px;">
              <div class="row border_bottom" style="height:280px;padding-left:20px;padding-top:30px;">
                <br>
                <br>
                <input type="hidden" name="codeid" id="codeid">
                <input type="text" name="codename" id="codename" placeholder="二维码名称" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;background:#ffffff;">
                <input type="text" name="codenote" id="codenote" placeholder="备注内容" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;margin-top:8px;background:#ffffff;">
                <input type="text" name="price" id="price" placeholder="单价" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;background:#ffffff;margin-top:8px;">
                <input type="text" name="endtime" id="endtime" placeholder="到期时间" style="width:65%;border:0;border-bottom:1px solid #000000;margin-left:14px;background:#ffffff;margin-top:8px;"><input type="checkbox"><span>&nbsp;&nbsp;永久</span>
                <br><br><span style="margin-left:160px;"><a href="#" onclick="codedo();">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="downloadcode();">下载</a></span>
              </div>
               <div class="row border_bottom" style="height:320px;padding-left:20px;padding-top:30px;">
                <br>
                <br>
                <input type="text" value="" placeholder="二维码名称" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;background:#ffffff;">
                <input type="text" value="" placeholder="备注内容" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;margin-top:8px;background:#ffffff;">
                <input type="text" value="" placeholder="个数" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;margin-top:8px;background:#ffffff;">
                <input type="text" value="" placeholder="单价" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;background:#ffffff;margin-top:8px;">
                <input type="text" value="" placeholder="生成时间" style="width:80%;border:0;border-bottom:1px solid #000000;margin-left:14px;background:#ffffff;margin-top:8px;">
                <input type="text" value="" placeholder="到期时间" style="width:65%;border:0;border-bottom:1px solid #000000;margin-left:14px;background:#ffffff;margin-top:8px;"><input type="checkbox"><span>&nbsp;&nbsp;永久</span>
                <br><br><span style="margin-left:160px;"><a>编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a>下载</a></span>
              </div>
            </div>

            
            
      	</div>  
 	 </div> 
  	 </div>
  
</div>
<input id="pagelength" name="pagelength" type="hidden" value="4">
<input id="publishid" name="publishid" type="hidden" >
<input id="exerciseid" name="exerciseid" type="hidden" >
<input id="free_test_arr" name="free_test_arr" type="hidden" >
<input id="free_key_arr" name="free_key_arr" type="hidden" >

<script>

    $(document).ready(function(){
    	var nowpage=1;
    	var pagelength=$('#pagelength').val();
    	var keywords=$("#publishname").val();
    	
    	//页面变量初始化
    	$("#publishid").val('');
    	$("#exerciseid").val('');
    	$("#free_test_arr").val('');
    	$("#free_key_arr").val('');
    	$("#codeid").val('');
    	
    	person_sql_publish(nowpage,pagelength,keywords);

    })
    
   $("input[type='radio']").on("change",function(){
     window.location.href="Code_01.html";
	})
	
	
	//出版社函数
	function person_sql_publish(nowpage,pagelength,keywords)
    {

        $.ajax({
	        url:"{:U('php_publish_sql')}",
	        type: 'POST',
	        data: {nowpage:nowpage,pagelength:pagelength,keywords:keywords},
	        dataType: 'json',
	        success: function(re) {
	        	var testlist=re;
				var addhtmlmsg = '<ol>';
				var beginhtml = $('#publishlist').html('');
				var mylength = testlist['length'];
				var pagenum=testlist['pagenum'];
				
				$('#pagenum').text(pagenum);
				$('#nowpage').text(nowpage);
	
				for (var i = 0; i<mylength; i++) 
	            {
					j=i+1+(nowpage-1)*pagelength;
					addhtmlmsg=addhtmlmsg+'<li><a href="#" onclick="detailexercise('+testlist[i]['id']+')">'+testlist[i]['name']+'</a></li>';
					j++;
	            }
				addhtmlmsg=addhtmlmsg+'</ol>';
				$('#publishlist').html(addhtmlmsg);
	
	        }
	    });
    }
    
    function nextpage()
	{
		var nowpage=$('#nowpage').text();
		var maxnum=$('#pagenum').text();
		var pagelength=$('#pagelength').val();
		var keywords=$("#publishname").val();
		
		nowpage=nowpage*1+1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
		 
		$('#publishlist').html('');
		
    	person_sql_publish(nowpage,pagelength,keywords);
	}
	
	function prepage()
	{
		var nowpage=$('#nowpage').text();
		var maxnum=$('#pagenum').text();
		var pagelength=$('#pagelength').val();
		var keywords=$("#publishname").val();
		
		nowpage=nowpage*1-1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
 
		$('#publishlist').html('');
		person_sql_publish(nowpage,pagelength,keywords)
	}
	
	//出版社搜索
	function searchpublish()
    {
    	var nowpage=1;
    	var pagelength=$('#pagelength').val();
    	var keywords=$("#publishname").val();
    	$('#publishlist').html('');
    	person_sql_publish(nowpage,pagelength,keywords);
    }
	
	//习题册列表
	function person_sql_exercise(nowpage,pagelength,keywords,publishid)
	{

	    $.ajax({
	        url:"{:U('php_exercise_sql')}",
	        type: 'POST',
	        data: {nowpage:nowpage,pagelength:pagelength,keywords:keywords,publishid:publishid},
	        dataType: 'json',
	        success: function(re) {
	        	var testlist=re;
	        	
				var addhtmlmsg = '';
				var mylength = testlist['length'];
				var pagenum=testlist['pagenum'];
				
				$('#pagenumexercise').text(pagenum);
				$('#nowpageexercise').text(nowpage);

				for (var i = 0; i<mylength; i++) 
	            {
					j=i+1+(nowpage-1)*pagelength;
					addhtmlmsg=addhtmlmsg+'<div class="border_bottom" style="padding-left:20px;padding-right:20px;padding-bottom:15px;margin-top:20px;"><span >'+j+'.<a style="color:#000000" href="#" onclick="detailexerciseinfo('+testlist[i]['id']+')" ><b>'+testlist[i]['name']+'</b></a></span><br><span style="margin-top:10px;display:block;margin-bottom:10px;">备注：试卷（'+testlist[i]['papernum']+'），知识点（'+testlist[i]['keynum']+'）</span><br></div>';
					j++;
	            }
				$("#publishnameinfo").text(testlist['publishname']+'('+testlist['count']+')');
				$('#exerciselist').html(addhtmlmsg);
	        }
	    });
	}
	
	//点击出版社 显示对应的习题册
	function detailexercise(id)
	{
		
		//第三和第三 数据初始化
		$("#exercisenameinfo").text('');
		$("#paperalllist").html('');
		$("#allpaper").text('试卷（0）');
		$("#key_paperalllist").html('');
		$("#allkey").text('知识点（0）');
		
		//第四列初始化
		$("#free_test_arr").val('');
		$("#free_key_arr").val();
		$("#codename").val('');
		$("#codenote").val('');
		$("#price").val('');
		$("#endtime").val('');
		$("#codeid").val('');
		
		var nowpage=1;
    	var pagelength=$('#pagelength').val();
    	var keywords=$("#exercisehname").val();
    	$("#publishid").val(id);
    	var publishid=id;
    	person_sql_exercise(nowpage,pagelength,keywords,publishid);
	}
	
	//试题搜索
	function searchexercise()
    {
    	var nowpage=1;
    	var pagelength=$('#pagelength').val();
    	var keywords=$("#exercisename").val();
    	var publishid=$("#publishid").val();
    	$('#exerciselist').html('');
    	person_sql_exercise(nowpage,pagelength,keywords,publishid);
    }
	
	function nextpageexercise()
	{
		var nowpage=$('#nowpageexercise').text();
		var maxnum=$('#pagenumexercise').text();
		var pagelength=$('#pagelength').val();
		var keywords=$("#exercisename").val();
		var publishid=$("#publishid").val();
		
		nowpage=nowpage*1+1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
		 
		$('#exerciselist').html('');
		
		person_sql_exercise(nowpage,pagelength,keywords,publishid);
	}
		
	function prepageexercise()
	{
		var nowpage=$('#nowpageexercise').text();
		var maxnum=$('#pagenumexercise').text();
		var pagelength=$('#pagelength').val();
		var keywords=$("#exercisename").val();
		var publishid=$("#publishid").val();
		
		nowpage=nowpage*1-1;
		if(nowpage>maxnum)
		{
			return;
		}
		if(nowpage<1)
		{
			return;
		}
 
		$('#exerciselist').html('');
		person_sql_exercise(nowpage,pagelength,keywords,publishid);
	}
  
   $("div[name='testdiv']").bind("click",function(){
     
     //alert('test');
     $("div[name='testdiv']").css('background','#f2f6f6');
     $("div[name='keydiv']").css('background','#ffffff');
     
     $("#paperalllist").css('display','');
     $("#choose_test").css('display','');
     $("#key_paperalllist").css('display','none');
     $("#choose_key").css('display','none');
     
   })
  
     $("div[name='keydiv']").bind("click",function(){
       
       //alert('key');
      $("div[name='testdiv']").css('background','#ffffff');
      $("div[name='keydiv']").css('background','#f2f6f6');
       
     $("#paperalllist").css('display','none');
     $("#choose_test").css('display','none');
     $("#key_paperalllist").css('display','');
     $("#choose_key").css('display','');
   })
	
   
   	//点击习题册  显示对应的试卷和知识点
	function detailexerciseinfo(id)
	{
	   //把选中的exerciseid给予赋值
	   $("#exerciseid").val(id);
	   var publishid=$("#publishid").val();
	   //查找是否已经添加了二维码信息，如果有展示
	   detailcodeinfo(publishid,id);
	   
	    $.ajax({
	        url:"{:U('detailexerciseinfo')}",
	        type: 'POST',
	        data: {exerciseid:id},
	        dataType: 'json',
	        success: function(re) {
				
				$('#allpaper').text('试卷（'+re['papernum']+'）');
				$('#allkey').text('知识点（'+re['keynum']+'）');
				

				
				//试卷
				paperlist=re['paperlist'];
				//paper
				addhtmlmsg='<ol id="testol">';
				for (var i = 0; i<re['papernum']; i++) 
	            {
					addhtmlmsg=addhtmlmsg+'<li><a  onclick="itemsub(this,'+paperlist[i]['id']+',1)" href="javascript:void(0)">'+paperlist[i]['paper_name']+'</a></li>';
	            }
				addhtmlmsg=addhtmlmsg+'</ol>';
				$("#paperalllist").html(addhtmlmsg);
				
				//知识点
				keylist=re['keylist'];
				addhtmlmsg='<ol id="keyol">';
				for (var i = 0; i<re['keynum']; i++) 
	            {
					addhtmlmsg=addhtmlmsg+'<li><a  onclick="itemsub(this,'+keylist[i]['id']+',2)" href="javascript:void(0)">'+keylist[i]['paper_name']+'</a></li>';
	            }
				addhtmlmsg=addhtmlmsg+'</ol>';
				$("#key_paperalllist").html(addhtmlmsg);
				
				//练习册标题
				$("#exercisenameinfo").text(re.exerciseinfo.name);
			 
	        }
	    });
	}
  
    //文字颜色和变量赋值
  function itemsub(item,id,type)
  {
    //颜色处理
    if($(item).hasClass('red_class')){
      $(item).attr("class", "black_class");
    }
    else
    {
      $(item).attr("class", "red_class");
    }
    
    //赋值处理 type=1是试卷  2是知识点
    if(type==1) {
    	//判断ID是否在串中，如果有那么去掉，如果没有那么添加
    	var free_test_arr=$("#free_test_arr").val();
     
    	if(free_test_arr!='') {
  
    		if(free_test_arr.search(id) != -1){
    			free_test_arr=free_test_arr.replace(id,'');
    			$("#free_test_arr").val(free_test_arr);
    		} else {
    		 
    			free_test_arr=free_test_arr+','+id;
    			$("#free_test_arr").val(free_test_arr);
    		}
    		
    	} else {
    		$("#free_test_arr").val(id);
    	}
    }
    
    //知识点
    if(type==2) {
    	//判断ID是否在串中，如果有那么去掉，如果没有那么添加
    	var free_key_arr=$("#free_key_arr").val();
    	
    	if(free_key_arr!='') {
    		  
    		if(free_key_arr.search(id) != -1){
    			free_key_arr=free_key_arr.replace(id,'');
    			$("#free_key_arr").val(free_key_arr);
    		} else {
    		 
    			free_key_arr=free_key_arr+','+id;
    			$("#free_key_arr").val(free_key_arr);
    		}
    		
    	} else {
    		$("#free_key_arr").val(id);
    	}
    }

      
  }
    
    //二维码信息的添加和编辑 不下载不生成
	function codedo()
	{
		var publishid=$("#publishid").val();
		var exerciseid=$("#exerciseid").val();
		var free_test_arr=$("#free_test_arr").val();
		var free_key_arr=$("#free_key_arr").val();
		var code_name=$("#codename").val();
		var code_note=$("#codenote").val();
		var price=$("#price").val();
		var endtime=$("#endtime").val();
		var codeid=$("#codeid").val();
		
		if(publishid && exerciseid && codename) {
			$.ajax({
				url:"{:U('phpaddCodeSub')}",
				data:{codeid:codeid,code_name:code_name,code_note:code_note,price:price,publishid:publishid,exerciseid:exerciseid,free_test_arr:free_test_arr,free_key_arr:free_key_arr},
				datatype:'json',
				type:'post',
				success:function(re){
					if(codeid=='') {
						$("#codeid").val(re);
					}
					alert('处理成功');
		        }
		    });
		}
	}
    
    //根据出版社ID和练习册ID获取已经生成的二维码信息
    function detailcodeinfo(publishid,exerciseid)
    {
    	if(publishid && exerciseid) {
    		$.ajax({
				url:"{:U('detailcodemsg')}",
				data:{publishid:publishid,exerciseid:exerciseid},
				datatype:'json',
				type:'post',
				success:function(re){
					if(re!='') {
						//info=eval("("+re+")");
						$("#free_test_arr").val(re.free_test_arr);
						$("#free_key_arr").val(re.free_key_arr);
						$("#codename").val(re.codename);
						$("#codenote").val(re.codenote);
						$("#price").val(re.price);
						$("#endtime").val(re.endtime);
						$("#codeid").val(re.id);
					}
		        }
		    });
    	}
    }
    
    //下载二维码
    function downloadcode()
    {
    	var codeid=$('#codeid').val();
    	if(codeid) {
			var url="/index.php/Home/Codesystem/downloadcode/codeid/"+codeid;
			window.open(url);
		       
    	} else {
    		alert('请先提交二维码信息');
    	}
    }
</script>
</body>
</html>